backup/2025/08/2vCtR1xtom0MtooP.json
{
  "active": true,
  "connections": {
    "N01 Fetch YouTube Video": {
      "main": [
        [
          {
            "node": "N02 Set Canonical Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02 Set Canonical Fields": {
      "main": [
        [
          {
            "node": "N03 Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N03 Update Notion Page": {
      "main": [
        [
          {
            "node": "N04 Get Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04 Get Transcript": {
      "main": [
        [
          {
            "node": "N05 Generate Markdown Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N08 Update Research Status": {
      "main": []
    },
    "N00b Manual Trigger": {
      "main": [
        [
          {
            "node": "N01 Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N00a Webhook Trigger": {
      "main": [
        [
          {
            "node": "N01 Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "N05 Generate Markdown Guide": {
      "main": [
        [
          {
            "node": "N07 Call AddMDtoNotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N06 Process With Ollama": {
      "ai_languageModel": [
        [
          {
            "node": "N05 Generate Markdown Guide",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "N07 Call AddMDtoNotion": {
      "main": [
        [
          {
            "node": "N08 Update Research Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-23T21:01:29.829Z",
  "id": "2vCtR1xtom0MtooP",
  "isArchived": false,
  "meta": null,
  "name": "Research Video v20250823-205324",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.body.data.properties.ArticleID.rich_text[0].text.content }}",
        "part": [
          "id",
          "snippet"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1136,
        -1088
      ],
      "id": "efbf5924-945f-49aa-aa36-dccbaa9ce4c5",
      "name": "N01 Fetch YouTube Video",
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bbvqDyJw1ft8R0Ud",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed65c30a-adb0-4b81-9638-498c602358b1",
              "name": "ArticleTitle",
              "value": "={{ $('N01 Fetch YouTube Video').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "17555e70-f754-493f-adea-f8aa43cdd478",
              "name": "URL",
              "value": "={{\"https://www.youtube.com/watch?v=\"}}{{$json.id }}",
              "type": "string"
            },
            {
              "id": "9b24a053-3098-45ea-9115-fe898abd5888",
              "name": "ChannelId",
              "value": "={{ $('N01 Fetch YouTube Video').item.json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "536143b4-3c86-4f19-9ed2-a29e9981fba5",
              "name": "Channel",
              "value": "={{ $('N01 Fetch YouTube Video').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "2fe6fbcd-9a39-42f4-be17-4ff114c3dcc9",
              "name": "Description",
              "value": "={{ $('N01 Fetch YouTube Video').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "05d34b76-afe4-43e9-9140-d3ea02fd3c65",
              "name": "ArticleId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "pageid-assignment-001",
              "name": "PageId",
              "value": "={{ (function() {\n    try {\n      return $('N00a Webhook Trigger').item.json.body.data.id;\n    } catch (e) {\n      // Webhook failed\n    }\n    try {\n      return $('N00b Manual Trigger').item.json.body.data.id;\n    } catch (e) {\n      return '';\n    }\n  })() }}",
              "type": "string"
            },
            {
              "id": "3d9c3256-0fd5-4b55-ad07-28650771ea20",
              "name": "canonical_prompt",
              "value": "Convert transcript into a well structured document with sections #, subsections ##, subsubsections ###, lists, and other standard markdown elements. \nUse the decimal system 1, 1.1, 1.2, 1.2.1, 1.2.2 for section, subsection and subsubsection numbering.  For example, \"# Overview\"  \nDO NOT be overenthusisastic to create subsubsections and subsections.  \nA good rule of thumb is don't divide into sections and subsections if the material is less than 3 paragraphs long. \nDo NOT Create lists for each item in a section/subsection/subsubsection. Use paragraphs.  ONLY USE a numbered list if you want to identify a list of items that are just few words each.\nIGNORE: - Pitches to watch other vidoes or any other marketing comments - Commercials where the other is pitching other products",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -1088
      ],
      "id": "cfd2449a-fc66-46c2-9956-573e350cd3f5",
      "name": "N02 Set Canonical Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('N02 Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ArticleTitle|title",
              "title": "={{ $json.ArticleTitle }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('N02 Set Canonical Fields').item.json.URL }}"
            },
            {
              "key": "ChannelID|rich_text",
              "textContent": "={{ $('N02 Set Canonical Fields').item.json.ChannelId }}"
            },
            {
              "key": "Channel|rich_text",
              "textContent": "={{ $('N02 Set Canonical Fields').item.json.Channel }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "=  {{$('N02 Set Canonical Fields').item.json.Description.substring(0,1900)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1584,
        -1088
      ],
      "id": "f0cbf0b4-1b8b-4a22-a295-daaa14f9b357",
      "name": "N03 Update Notion Page",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "videoId": "={{ $('N02 Set Canonical Fields').item.json.ArticleId }}"
      },
      "type": "n8n-nodes-hyly-youtube.hylyYouTubeNode",
      "typeVersion": 1,
      "position": [
        1808,
        -1088
      ],
      "id": "10feb110-802f-4ba7-9042-6ad61172d0f0",
      "name": "N04 Get Transcript"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_article_id",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "b522012a-36ba-4770-8050-b47dd5a97589",
      "typeVersion": 1.1,
      "name": "N00b Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        912,
        -992
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "research-video",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        912,
        -1184
      ],
      "id": "e93db5a6-d008-44d7-9051-3f2fb5703b18",
      "name": "N00a Webhook Trigger",
      "webhookId": "39ea85ca-398d-4d46-b8b3-fbe319421474",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('N02 Set Canonical Fields').first().json.PageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Research Status|status",
              "statusValue": "n8n Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2608,
        -1088
      ],
      "id": "e5e5d70c-3603-4887-a449-f3f3b10080cb",
      "name": "N08 Update Research Status",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('N02 Set Canonical Fields').item.json.canonical_prompt }}\n\n<transcript>\n{{ $('N04 Get Transcript').item.json.transcript }}\n</transcript>",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2032,
        -1088
      ],
      "id": "bd79857c-1b22-4a89-81d8-abb25ba2c5c2",
      "name": "N05 Generate Markdown Guide"
    },
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2104,
        -864
      ],
      "id": "6bb8f6e8-28a3-43b4-8d6f-5b6faab9f405",
      "name": "N06 Process With Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "i7QigsdBsQdZv3Mf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "djCCWdvV9VVzqqRb",
          "mode": "list",
          "cachedResultName": "AddMDtoNotion v20250823-161549"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canonical_text": "={{ $('N04 Get Transcript').item.json.transcript }}",
            "canonical_timestamp": "={{ $('N04 Get Transcript').item.json.extractedAt }}",
            "canonical_md": "={{ $json.text }}",
            "canonical_page_id": "={{ $('N02 Set Canonical Fields').item.json.PageId }}",
            "canonical_yt_id": "={{ $('N02 Set Canonical Fields').item.json.ArticleId }}",
            "canonical_prompt": "={{ $('N02 Set Canonical Fields').item.json.canonical_prompt }}"
          },
          "matchingColumns": [
            "text",
            "canonical_text",
            "canonical_prompt",
            "canonical_timestamp"
          ],
          "schema": [
            {
              "id": "canonical_md",
              "displayName": "canonical_md",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canonical_text",
              "displayName": "canonical_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canonical_prompt",
              "displayName": "canonical_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canonical_timestamp",
              "displayName": "canonical_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canonical_page_id",
              "displayName": "canonical_page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "canonical_yt_id",
              "displayName": "canonical_yt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2384,
        -1088
      ],
      "name": "N07 Call AddMDtoNotion",
      "id": "ff3ffafd-0240-46bc-9892-5c6f09154567"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "6637",
            "baggage": "sentry-environment=production,sentry-release=0.0.4231,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=6e78574023694751a2fd5fe60cc5b466",
            "content-type": "application/json",
            "sentry-trace": "6e78574023694751a2fd5fe60cc5b466-bbccfa60ef414447",
            "traceparent": "00-542fba26b6b8f511d83cf275b7d1fbb2-018fdf23c508e4d3-00",
            "x-forwarded-for": "44.224.156.54",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "82148184-43d5-4230-8663-e2b465058e6f",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-80d2-809d-da2672c50cb5",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-16T20:54:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCHePou0Yhr5GLPRZ1PEDkKg",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCHePou0Yhr5GLPRZ1PEDkKg",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I'll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you're running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who's Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https://",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I'll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you're running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who's Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https://",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=Erh2Xl0eeLI"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Blake Bauer Business",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Blake Bauer Business",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Erh2Xl0eeLI",
                        "link": {
                          "url": "Erh2Xl0eeLI"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Erh2Xl0eeLI",
                      "href": "Erh2Xl0eeLI"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How To Optimize Performance MAX Campaigns (Google Ads)",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How To Optimize Performance MAX Campaigns (Google Ads)",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-To-Optimize-Performance-MAX-Campaigns-Google-Ads-2501db9ba44180d2809dda2672c50cb5",
              "public_url": null,
              "request_id": "91929d39-4ccc-4879-8ac5-a43db7cda6db"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ],
    "N00b Manual Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "5195",
            "baggage": "sentry-environment=production,sentry-release=0.0.4235,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=7836b44f06c741a3a3bc8b8ce266109d",
            "content-type": "application/json",
            "sentry-trace": "7836b44f06c741a3a3bc8b8ce266109d-bf1274521d17ce9e",
            "traceparent": "00-ca7597762283efec11c66bf2b562fd0c-76a2e72db191404e-00",
            "x-forwarded-for": "52.38.219.39",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "ea28862e-635e-4d47-bdf0-5db34940967a",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-8004-bae6-d06a6db447e9",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-17T18:29:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCsifPO4MT6BdV19vYx3KJ0Q",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCsifPO4MT6BdV19vYx3KJ0Q",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don't actually know how PMAX works—you're not running campaigns, you're wasting your ad spend.\n\nIn this video, I'm going to break down exactly how Performance Max campaigns really work in 2025 from the data I've seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don't actually know how PMAX works—you're not running campaigns, you're wasting your ad spend.\n\nIn this video, I'm going to break down exactly how Performance Max campaigns really work in 2025 from the data I've seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=QhaiqGPlY2Y"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Aaron Young  | Google Ads | Define Digital Academy",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Aaron Young  | Google Ads | Define Digital Academy",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "QhaiqGPlY2Y",
                        "link": {
                          "url": "QhaiqGPlY2Y"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "QhaiqGPlY2Y",
                      "href": "QhaiqGPlY2Y"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How Performance Max Campaigns Work in 2025",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How Performance Max Campaigns Work in 2025",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-Performance-Max-Campaigns-Work-in-2025-2501db9ba4418004bae6d06a6db447e9",
              "public_url": null,
              "request_id": "10447e82-01c0-45eb-b185-43bb63be6800"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-24T02:38:01.000Z",
  "versionId": "5e4b8b1c-13b3-4652-a37d-5cb541021f12"
}