backup/2025/08/IaxdtutZrdNRitl1.json
{
  "active": true,
  "connections": {
    "N00 Webhook Trigger": {
      "main": [
        [
          {
            "node": "N01 Set Canonical Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N01 Set Canonical Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Subflow 10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Subflow 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Subflow 10": {
      "main": [
        [
          {
            "node": "N02 Update n8n Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Subflow 20": {
      "main": [
        [
          {
            "node": "N02 Update n8n Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T04:17:47.579Z",
  "id": "IaxdtutZrdNRitl1",
  "isArchived": false,
  "meta": null,
  "name": "Starter Workflow for Jobs.QA.Applicants 20250825-011253 v20250825-012720",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "jobs-qa-applicants",
        "options": {
          "noResponseBody": false,
          "responseData": "firstEntryJson"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        80
      ],
      "id": "893969fe-da6c-455f-b459-06b56a12bd6a",
      "name": "N00 Webhook Trigger",
      "webhookId": "6cf7edcc-c40e-4efa-bf16-143613cfa028",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notion-page-id",
              "name": "notion_page_id",
              "value": "={{ $json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "notion-database-id",
              "name": "notion_database_id",
              "value": "={{ $json.body.data.parent.database_id }}",
              "type": "string"
            },
            {
              "id": "743ca8f4-fc27-4f48-98f4-5cb54ad20836",
              "name": "notion___deep_thinking",
              "value": "={{ $json.body.data.properties[\" 📊Deep Thinking\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "d33e03de-13bb-4392-b148-caa2028fd394",
              "name": "notion_bachelor_s_degree",
              "value": "={{ $json.body.data.properties[\"Bachelor's Degree\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "2dd0ca86-e5ae-4011-a4e7-b919bfee78d2",
              "name": "notion_bachelor_s_gpa",
              "value": "={{ $json.body.data.properties[\"Bachelor's GPA\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "110180f6-b96c-4eac-9aff-086a479ed99b",
              "name": "notion_bachelor_s_year",
              "value": "={{ $json.body.data.properties[\"Bachelor's Year\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "377826b0-c959-4563-b207-2f4e27b85c66",
              "name": "notion_check_requirements",
              "value": "={{ $json.body.data.properties[\"Check Requirements\"].multi_select?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "ba6c856e-f2c2-4d7b-977c-e01471a53ff9",
              "name": "notion_created_by",
              "value": "={{ $json.body.data.properties[\"Created by\"].created_by?.name || '' }}",
              "type": "string"
            },
            {
              "id": "20622045-7d33-42fb-a0c7-f6e9f2b9e293",
              "name": "notion_created_time",
              "value": "={{ $json.body.data.properties[\"Created time\"].created_time }}",
              "type": "string"
            },
            {
              "id": "10268585-ea40-45bf-8c47-65c33edab23a",
              "name": "notion_current_salary_us_",
              "value": "={{ $json.body.data.properties[\"Current Salary US$\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "1e28cd7b-3282-43bf-a6d1-6da8e5acf241",
              "name": "notion_days_to_join",
              "value": "={{ $json.body.data.properties[\"Days to Join\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "37331451-33a2-4052-8814-ab715b9a9023",
              "name": "notion_deprecated_hiringnotes",
              "value": "={{ $json.body.data.properties[\"Deprecated:HiringNotes\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "b76bb837-fa31-4a00-85a8-e4d1cf92fa1c",
              "name": "notion_educational_degree",
              "value": "={{ $json.body.data.properties[\"Educational Degree\"].files?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "1de1843b-bfc3-46d7-8107-340da1175baa",
              "name": "notion_email_address",
              "value": "={{ $json.body.data.properties[\"Email Address\"].email || '' }}",
              "type": "string"
            },
            {
              "id": "c85c4df0-1a7b-4b64-8f84-1101474026c9",
              "name": "notion_expa_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpA GPT%\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "92a7ab48-8209-49bb-8036-c3c8928a6650",
              "name": "notion_expa_months",
              "value": "={{ $json.body.data.properties[\"ExpA Months\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "4a08b117-b988-4978-a454-b1a93ee35042",
              "name": "notion_expa_name",
              "value": "={{ $json.body.data.properties[\"ExpA Name\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "a124f2e6-f31c-415c-aa6a-986434773f82",
              "name": "notion_expa_project",
              "value": "={{ $json.body.data.properties[\"ExpA Project\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "4a76bfb8-9183-4352-974b-c0f3aa452f7c",
              "name": "notion_expb_gpt__",
              "value": "={{ $json.body.data.properties[\"ExpB GPT %\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "d1aebd47-5379-41ed-93d7-d24bb600be66",
              "name": "notion_expb_months",
              "value": "={{ $json.body.data.properties[\"ExpB Months\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "cfd58ffa-5250-4bdf-b397-dbc583c50be2",
              "name": "notion_expb_name_",
              "value": "={{ $json.body.data.properties[\"ExpB Name \"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "1f02ac67-7b44-42bf-9d41-ffd9fb33c907",
              "name": "notion_expb_project",
              "value": "={{ $json.body.data.properties[\"ExpB Project\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "7181e270-5ac1-49d7-a189-e95de796ccdb",
              "name": "notion_expc_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpC GPT%\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "ee004abd-04c8-40c2-b524-93fab21f0e9e",
              "name": "notion_expc_months",
              "value": "={{ $json.body.data.properties[\"ExpC Months\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "b0fa81dd-dcee-4ef3-abbf-0265b1b013ee",
              "name": "notion_expc_name",
              "value": "={{ $json.body.data.properties[\"ExpC Name\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "a9c98305-bfff-4cce-bfa5-836dd2967e37",
              "name": "notion_expc_project",
              "value": "={{ $json.body.data.properties[\"ExpC Project\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "1aa4004e-4f3c-427e-b663-b1e1693401af",
              "name": "notion_expd_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpD GPT%\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "464e01b6-5560-49c6-a55a-ceb092f6ba5d",
              "name": "notion_expd_months",
              "value": "={{ $json.body.data.properties[\"ExpD Months\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "ff2efd45-29b0-4039-be23-dabfd64abd35",
              "name": "notion_expd_name",
              "value": "={{ $json.body.data.properties[\"ExpD Name\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "5686d8fb-d1a8-4a71-8b79-5b0affad3c7c",
              "name": "notion_expd_project",
              "value": "={{ $json.body.data.properties[\"ExpD Project\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "27a139bb-99ee-45bf-9a49-3ad0f20852d1",
              "name": "notion_expected_salary_us_",
              "value": "={{ $json.body.data.properties[\"Expected Salary US$\"].number || '' }}",
              "type": "string"
            },
            {
              "id": "2e68fef0-fb3f-4d57-8798-08a1566c3964",
              "name": "notion_final_thoughts",
              "value": "={{ $json.body.data.properties[\"Final thoughts\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "2c3b5cfc-88a3-418b-8ae7-6d2005765bc4",
              "name": "notion_hm_z15screening",
              "value": "={{ $json.body.data.properties[\"HM:Z15Screening\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "ed1c80e0-28c8-4018-96dd-c0722669b842",
              "name": "notion_hm_z50idcheck",
              "value": "={{ $json.body.data.properties[\"HM:Z50IDCheck\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "83c6e890-d619-42c8-8a9c-3f335215917a",
              "name": "notion_hm_z50recommendation",
              "value": "={{ $json.body.data.properties[\"HM:Z50Recommendation\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "ce562cca-fae5-432d-a440-d1163fec9a67",
              "name": "notion_hm_z50rejection",
              "value": "={{ $json.body.data.properties[\"HM:Z50Rejection\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "77a832d5-e367-4cf0-a384-db53519855a1",
              "name": "notion_hr_z15idcheck",
              "value": "={{ $json.body.data.properties[\"HR:Z15IDCheck\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "8d0679cb-e889-4c2e-bdd2-029fad3d162a",
              "name": "notion_hr_z15screening",
              "value": "={{ $json.body.data.properties[\"HR:Z15Screening\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "aaf2bb52-96ab-4346-8707-1e5506f9c88b",
              "name": "notion_hiring_status",
              "value": "={{ $json.body.data.properties[\"Hiring Status\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "6bbba6ae-6c05-4152-98b0-cb57c8621a03",
              "name": "notion_interview_time",
              "value": "={{ $json.body.data.properties[\"Interview Time\"].date.start }}",
              "type": "string"
            },
            {
              "id": "0d9de4b9-539f-476b-a7fc-0097c9fe3c8e",
              "name": "notion_interviews",
              "value": "={{ $json.body.data.properties[\"Interviews\"].relation?.map(item => item.id).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "c82f0385-959a-4d7f-b442-59787ca7cc46",
              "name": "notion_job_hopper",
              "value": "={{ $json.body.data.properties[\"Job Hopper\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "4a06c8a2-18f9-4f25-8818-f8d2f27f6d65",
              "name": "notion_last_edited_by",
              "value": "={{ $json.body.data.properties[\"Last edited by\"].last_edited_by?.name || '' }}",
              "type": "string"
            },
            {
              "id": "b0a9a5b1-359b-4316-be6c-787594f0378b",
              "name": "notion_last_edited_time",
              "value": "={{ $json.body.data.properties[\"Last edited time\"].last_edited_time }}",
              "type": "string"
            },
            {
              "id": "f1c0d56b-3845-4beb-8573-92790270457e",
              "name": "notion_linkedin",
              "value": "={{ $json.body.data.properties[\"LinkedIn\"].url }}",
              "type": "string"
            },
            {
              "id": "05b55f48-8447-47c9-ad44-e571eb491d8f",
              "name": "notion_master_s_degree",
              "value": "={{ $json.body.data.properties[\"Master's Degree\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "2a32ae25-7de9-466f-a54e-db6029293dbc",
              "name": "notion_name",
              "value": "={{ $json.body.data.properties[\"Name\"].title[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "99c9fd03-5b79-45d2-bc97-65d1b4e1ee5e",
              "name": "notion_next_step_owner",
              "value": "={{ $json.body.data.properties[\"Next Step Owner\"].people?.[0]?.name || '' }}",
              "type": "string"
            },
            {
              "id": "1c2afd66-ebc0-4d70-92cc-0212e3bc1ff4",
              "name": "notion_operations_requirements",
              "value": "={{ $json.body.data.properties[\"Operations Requirements\"].multi_select?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "f07ade77-bb68-4ae5-9008-c72c72d8e1d4",
              "name": "notion_phd",
              "value": "={{ $json.body.data.properties[\"PhD\"].rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "ac3ba0b4-7058-4f0a-9c23-ced091893582",
              "name": "notion_please_add_your_latest_picture",
              "value": "={{ $json.body.data.properties[\"Please add your latest picture\"].files?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "fcd42438-863a-45bd-a5af-988b4bf58e0c",
              "name": "notion_please_upload_your_id__passport",
              "value": "={{ $json.body.data.properties[\"Please upload your ID/ Passport\"].files?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "cc1b65aa-2722-4d3a-ac94-f9ae132b9941",
              "name": "notion_position",
              "value": "={{ $json.body.data.properties[\"Position\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "20deefa4-9720-41bc-88ea-76e1b3cfd710",
              "name": "notion_resume",
              "value": "={{ $json.body.data.properties[\"Resume\"].files?.map(item => item.name).join(', ') || '' }}",
              "type": "string"
            },
            {
              "id": "3c3de72f-04fe-403a-b3f6-cfcb09645d91",
              "name": "notion_n8n_status",
              "value": "={{ $json.body.data.properties[\"n8n Status\"].status?.name || '' }}",
              "type": "string"
            },
            {
              "id": "c690f49b-e104-49d2-b824-afd537ddf9d9",
              "name": "notion__experience___skills",
              "value": "={{ $json.body.data.properties[\"📊Experience & Skills\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "ca4247d7-6572-4e01-8193-2edf4dc7e0e1",
              "name": "notion__persistence",
              "value": "={{ $json.body.data.properties[\"📊Persistence\"].select?.name || '' }}",
              "type": "string"
            },
            {
              "id": "e4947d05-1a28-4263-8a3d-ec76cba63555",
              "name": "notion__score",
              "value": "={{ $json.body.data.properties[\"📊Score\"].formula?.number || '' }}",
              "type": "string"
            },
            {
              "id": "c41a3c52-92ab-418e-b4ab-084fb337e2b8",
              "name": "notion__team_fit",
              "value": "={{ $json.body.data.properties[\"📊Team Fit\"].select?.name || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        80
      ],
      "id": "d9caa614-31d2-4192-997e-8418de8dfac5",
      "name": "N01 Set Canonical Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notion_page_id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "n8n Status|status",
              "statusValue": "n8n Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1296,
        80
      ],
      "id": "d3971964-9a7b-46cc-8d91-e28cf4352bdb",
      "name": "N02 Update n8n Status",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notion_n8n_status }}",
                    "rightValue": "n8n 10",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "cf50f48d-c724-4bba-8fe6-6bd7a62ef567"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "subflow 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "059ac672-4076-4672-b8da-35b7bf9cf66d",
                    "leftValue": "={{ $json.notion_n8n_status }}",
                    "rightValue": "n8n 11",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "subflow 2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        80
      ],
      "id": "3ee2cde2-cd68-43d6-9526-a1dc34ae8160",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CZdLhEPrmH0NZLT3",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        -16
      ],
      "name": "Call Subflow 10",
      "id": "584eec61-ac60-4479-9380-dac9907bd344"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ob76B9qNsFkElVP8",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        176
      ],
      "name": "Call Subflow 20",
      "id": "b5fa1e7b-d989-4bb5-b36e-d47c77466865"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { notion_n8n_updated_status: \"n8n-20-xxx\" } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        448
      ],
      "id": "c099afd3-7d74-4a8a-adc1-a7c5f1297fbe",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1980dc95-5360-4ad4-8da5-77a07120879b",
              "name": "notion_page_id",
              "value": "={{ $json.notion_page_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        448
      ],
      "id": "6daf53b2-cc62-43d4-8cc7-743cbf006834",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a87e7a3d-686a-4e85-840b-b7d008cf3530",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        784,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { notion_n8n_updated_status: \"n8n Done\" } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -288
      ],
      "id": "83a0fab6-0028-4938-bd87-cb575759eaa1",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d0228c3-233b-47be-82b4-dfcc2758902f",
              "name": "notion_page_id",
              "value": "={{ $json.notion_page_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -288
      ],
      "id": "6a37bf29-9674-45dd-935a-bedd671c35c9",
      "name": "Return1"
    }
  ],
  "pinData": {
    "N00 Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "7780",
            "baggage": "sentry-environment=production,sentry-release=0.0.4336,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=fb66263ab4e24459bcc6e309b8d98534",
            "content-type": "application/json",
            "sentry-trace": "fb66263ab4e24459bcc6e309b8d98534-a5ad7de18cf24a89",
            "traceparent": "00-de90ab492fa7a0ead158cc4084d7d8f4-c1f14d784654ba91-00",
            "x-forwarded-for": "44.241.75.17",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "25a1db9b-a441-8093-9bf2-004d93f77554",
              "action_id": "25a1db9b-a441-8055-9a25-005a1a174a7e",
              "event_id": "dc7fbbfb-1acb-47d9-9334-4412b713434a",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "25a1db9b-a441-8053-8401-c0fc808a7711",
              "created_time": "2025-08-25T04:22:00.000Z",
              "last_edited_time": "2025-08-25T05:28:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "25a1db9b-a441-801c-aefe-ef8f73d81e0d"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "HR:Z15Screening": {
                  "id": "%3BCgT",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Bachelor's GPA": {
                  "id": "BXaI",
                  "type": "rich_text",
                  "rich_text": []
                },
                "ExpD Name": {
                  "id": "B%5Dmy",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpD Name",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpD Name",
                      "href": null
                    }
                  ]
                },
                "Position": {
                  "id": "CrjJ",
                  "type": "select",
                  "select": {
                    "id": "BWB`",
                    "name": "SEM Manager",
                    "color": "yellow"
                  }
                },
                "Please add your latest picture": {
                  "id": "DIBh",
                  "type": "files",
                  "files": []
                },
                "Final thoughts": {
                  "id": "DRcq",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value Final Thoughts",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value Final Thoughts",
                      "href": null
                    }
                  ]
                },
                "HM:Z50IDCheck": {
                  "id": "D%5B%3A%7D",
                  "type": "select",
                  "select": null
                },
                "ExpA Project": {
                  "id": "DoUD",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpA Project",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpA Project",
                      "href": null
                    }
                  ]
                },
                "Interview Time": {
                  "id": "G%3AmA",
                  "type": "date",
                  "date": null
                },
                "ExpA Name": {
                  "id": "Ib%7Bx",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpA Name ",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpA Name ",
                      "href": null
                    }
                  ]
                },
                "ExpB Months": {
                  "id": "J%3DUC",
                  "type": "select",
                  "select": {
                    "id": "j{lh",
                    "name": "6-12 Months",
                    "color": "blue"
                  }
                },
                "ExpC Project": {
                  "id": "JT~U",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpC Project",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpC Project",
                      "href": null
                    }
                  ]
                },
                "Deprecated:HiringNotes": {
                  "id": "LE%60r",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Interviews": {
                  "id": "MBZb",
                  "type": "relation",
                  "relation": [],
                  "has_more": false
                },
                "📊Team Fit": {
                  "id": "M~AP",
                  "type": "select",
                  "select": null
                },
                "ExpC Months": {
                  "id": "OmiM",
                  "type": "select",
                  "select": {
                    "id": "C?mX",
                    "name": "13-24 Months",
                    "color": "blue"
                  }
                },
                "ExpC GPT%": {
                  "id": "Oncs",
                  "type": "number",
                  "number": null
                },
                "ExpD Months": {
                  "id": "Q%5EKd",
                  "type": "select",
                  "select": {
                    "id": "yjtU",
                    "name": "25+ Months",
                    "color": "blue"
                  }
                },
                "Created time": {
                  "id": "Q%5E%5DN",
                  "type": "created_time",
                  "created_time": "2025-08-25T04:22:00.000Z"
                },
                "Created by": {
                  "id": "Tilc",
                  "type": "created_by",
                  "created_by": {
                    "object": "user",
                    "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f",
                    "name": "Munish Gandhi",
                    "avatar_url": "https://lh3.googleusercontent.com/a-/AFdZucpYC1BE17uhNBb56b1XPZ7vsol2k5BIQsr_rfa3cKY=s100",
                    "type": "person",
                    "person": {
                      "email": "mg@hy.ly"
                    }
                  }
                },
                "Bachelor's Degree": {
                  "id": "U%60_J",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Educational Degree": {
                  "id": "VKEK",
                  "type": "files",
                  "files": []
                },
                " 📊Deep Thinking": {
                  "id": "V%5CAF",
                  "type": "select",
                  "select": null
                },
                "Job Hopper": {
                  "id": "Vdbu",
                  "type": "select",
                  "select": null
                },
                "ExpB Project": {
                  "id": "YCM%40",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpB Project",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpB Project",
                      "href": null
                    }
                  ]
                },
                "Email Address": {
                  "id": "Y%7BQr",
                  "type": "email",
                  "email": null
                },
                "LinkedIn": {
                  "id": "ZN%60%60",
                  "type": "url",
                  "url": null
                },
                "PhD": {
                  "id": "ZaLN",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Please upload your ID/ Passport": {
                  "id": "%5B%3Dee",
                  "type": "files",
                  "files": []
                },
                "Hiring Status": {
                  "id": "%5Bt%3E%3B",
                  "type": "select",
                  "select": null
                },
                "Bachelor's Year": {
                  "id": "%5C%5DTR",
                  "type": "select",
                  "select": null
                },
                "📊Persistence": {
                  "id": "%5Egk%3E",
                  "type": "select",
                  "select": null
                },
                "ExpD GPT%": {
                  "id": "%60LpQ",
                  "type": "number",
                  "number": null
                },
                "Last edited time": {
                  "id": "af%60P",
                  "type": "last_edited_time",
                  "last_edited_time": "2025-08-25T05:28:00.000Z"
                },
                "ExpC Name": {
                  "id": "cO~X",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpC Name",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpC Name",
                      "href": null
                    }
                  ]
                },
                "HM:Z50Recommendation": {
                  "id": "dXa%40",
                  "type": "rich_text",
                  "rich_text": []
                },
                "📊Experience & Skills": {
                  "id": "gRqb",
                  "type": "select",
                  "select": null
                },
                "Check Requirements": {
                  "id": "gXpE",
                  "type": "multi_select",
                  "multi_select": []
                },
                "Master's Degree": {
                  "id": "p%7By~",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Next Step Owner": {
                  "id": "qlUm",
                  "type": "people",
                  "people": [
                    {
                      "object": "user",
                      "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f",
                      "name": "Munish Gandhi",
                      "avatar_url": "https://lh3.googleusercontent.com/a-/AFdZucpYC1BE17uhNBb56b1XPZ7vsol2k5BIQsr_rfa3cKY=s100",
                      "type": "person",
                      "person": {
                        "email": "mg@hy.ly"
                      }
                    }
                  ]
                },
                "ExpB GPT %": {
                  "id": "rwFg",
                  "type": "number",
                  "number": null
                },
                "Current Salary US$": {
                  "id": "s%3Do%7C",
                  "type": "number",
                  "number": null
                },
                "Resume": {
                  "id": "t%7DAX",
                  "type": "files",
                  "files": []
                },
                "HM:Z15Screening": {
                  "id": "uzrk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "ExpA GPT%": {
                  "id": "u~%3A%3F",
                  "type": "number",
                  "number": null
                },
                "HR:Z15IDCheck": {
                  "id": "wVGs",
                  "type": "select",
                  "select": null
                },
                "ExpA Months": {
                  "id": "xD%7Di",
                  "type": "select",
                  "select": {
                    "id": "K^i~",
                    "name": "0-5 Months",
                    "color": "red"
                  }
                },
                "HM:Z50Rejection": {
                  "id": "yOx%5D",
                  "type": "rich_text",
                  "rich_text": []
                },
                "📊Score": {
                  "id": "%7B%3ADJ",
                  "type": "formula",
                  "formula": {
                    "type": "number",
                    "number": 0
                  }
                },
                "Last edited by": {
                  "id": "%7C%5DYb",
                  "type": "last_edited_by",
                  "last_edited_by": {
                    "object": "user",
                    "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f",
                    "name": "Munish Gandhi",
                    "avatar_url": "https://lh3.googleusercontent.com/a-/AFdZucpYC1BE17uhNBb56b1XPZ7vsol2k5BIQsr_rfa3cKY=s100",
                    "type": "person",
                    "person": {
                      "email": "mg@hy.ly"
                    }
                  }
                },
                "Operations Requirements": {
                  "id": "%7Chsx",
                  "type": "multi_select",
                  "multi_select": []
                },
                "ExpB Name ": {
                  "id": "%7C%7B%3A%3A",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpB Name",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpB Name",
                      "href": null
                    }
                  ]
                },
                "ExpD Project": {
                  "id": "~IOn",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Value ExpD Project",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Value ExpD Project",
                      "href": null
                    }
                  ]
                },
                "Days to Join": {
                  "id": "~%5Db%7B",
                  "type": "select",
                  "select": null
                },
                "Expected Salary US$": {
                  "id": "~frL",
                  "type": "number",
                  "number": null
                },
                "Name": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "MG Test Name",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "MG Test Name",
                      "href": null
                    }
                  ]
                },
                "n8n Status": {
                  "id": "%3CKgx",
                  "type": "status",
                  "status": {
                    "id": "doF|",
                    "name": "n8n Start",
                    "color": "blue"
                  }
                }
              },
              "url": "https://www.notion.so/MG-Test-Name-25a1db9ba44180538401c0fc808a7711",
              "public_url": null,
              "request_id": "ece6b0e1-075b-4e66-ab56-6ae5ee1ccabd"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/jobs-qa-applicants",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T16:47:03.000Z",
  "versionId": "b4ea2fd4-ca6b-45c1-896f-dea0bcecfe24"
}