backup/2025/08/JLeaIhpJcXqHDAk7.json
{
  "active": false,
  "connections": {
    "N00 Webhook Trigger": {
      "main": [
        [
          {
            "node": "N01 Set Canonical Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N01 Set Canonical Fields": {
      "main": [
        [
          {
            "node": "N02 Update n8n Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T04:06:40.135Z",
  "id": "JLeaIhpJcXqHDAk7",
  "isArchived": true,
  "meta": null,
  "name": "Jobs.QA.Applicants Starter",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "jobs-qa-applicants",
        "respond": "whenLastNodeFinishes",
        "responseCode": 200,
        "options": {
          "noResponseBody": false,
          "responseData": "firstEntryJson"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        400
      ],
      "id": "82500e2d-fdee-457d-96ee-00fbcf912c76",
      "name": "N00 Webhook Trigger",
      "webhookId": "6479da76-952a-475c-b3ed-21fdc4c006ab",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notion-page-id",
              "name": "notion_page_id",
              "value": "={{ $json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "notion-database-id",
              "name": "notion_database_id",
              "value": "={{ $json.body.data.parent.database_id }}",
              "type": "string"
            },
            {
              "id": "8b81e277-585c-4909-a352-48c16e1fda9c",
              "name": "notion___deep_thinking",
              "value": "={{ $json.body.data.properties[\" 📊Deep Thinking\"] }}",
              "type": "string"
            },
            {
              "id": "8d69037f-0c4c-40b9-b512-97f18274ec78",
              "name": "notion_bachelor_s_degree",
              "value": "={{ $json.body.data.properties[\"Bachelor's Degree\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "dfd0a6fa-7e0c-472e-83b1-115ca3835524",
              "name": "notion_bachelor_s_gpa",
              "value": "={{ $json.body.data.properties[\"Bachelor's GPA\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "5b4d79af-90ee-4b09-88ba-da08e441f75e",
              "name": "notion_bachelor_s_year",
              "value": "={{ $json.body.data.properties[\"Bachelor's Year\"] }}",
              "type": "string"
            },
            {
              "id": "8548097a-d686-484f-9b2b-f9d3ec6c9881",
              "name": "notion_check_requirements",
              "value": "={{ $json.body.data.properties[\"Check Requirements\"] }}",
              "type": "string"
            },
            {
              "id": "fa7c21c1-95a5-40bc-aa12-fd4508eb3229",
              "name": "notion_created_by",
              "value": "={{ $json.body.data.properties[\"Created by\"] }}",
              "type": "string"
            },
            {
              "id": "261b0207-322f-4d30-811b-30fc2032d1c6",
              "name": "notion_created_time",
              "value": "={{ $json.body.data.properties[\"Created time\"] }}",
              "type": "string"
            },
            {
              "id": "4d238b3f-bee8-4b45-9af3-1ab454f81a2d",
              "name": "notion_current_salary_us_",
              "value": "={{ $json.body.data.properties[\"Current Salary US$\"] }}",
              "type": "string"
            },
            {
              "id": "51120550-37e5-483c-ad28-bb9e36dacded",
              "name": "notion_days_to_join",
              "value": "={{ $json.body.data.properties[\"Days to Join\"] }}",
              "type": "string"
            },
            {
              "id": "5a1716e1-3970-4f8c-8637-55d942141333",
              "name": "notion_deprecated_hiringnotes",
              "value": "={{ $json.body.data.properties[\"Deprecated:HiringNotes\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "1ac1b67f-19af-4812-95f4-0ba2f21e26a6",
              "name": "notion_educational_degree",
              "value": "={{ $json.body.data.properties[\"Educational Degree\"] }}",
              "type": "string"
            },
            {
              "id": "e0b3f9b6-8b9f-4bf1-9a56-7155a0b6e02a",
              "name": "notion_email_address",
              "value": "={{ $json.body.data.properties[\"Email Address\"] }}",
              "type": "string"
            },
            {
              "id": "6239585e-6c41-4810-9bde-27f03c04d991",
              "name": "notion_expa_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpA GPT%\"] }}",
              "type": "string"
            },
            {
              "id": "d114e133-bbdc-488e-9607-98da9d6290fa",
              "name": "notion_expa_months",
              "value": "={{ $json.body.data.properties[\"ExpA Months\"] }}",
              "type": "string"
            },
            {
              "id": "672e8cd8-75e8-4811-b916-ff661d191cd8",
              "name": "notion_expa_name",
              "value": "={{ $json.body.data.properties[\"ExpA Name\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "5b41ce87-760f-43e1-9860-2ca8446e0f79",
              "name": "notion_expa_project",
              "value": "={{ $json.body.data.properties[\"ExpA Project\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "6dd90d3f-7a7b-4968-a62f-8b395a8af5a4",
              "name": "notion_expb_gpt__",
              "value": "={{ $json.body.data.properties[\"ExpB GPT %\"] }}",
              "type": "string"
            },
            {
              "id": "c39abdbc-fc4b-45e9-bd27-0dbc124d04dd",
              "name": "notion_expb_months",
              "value": "={{ $json.body.data.properties[\"ExpB Months\"] }}",
              "type": "string"
            },
            {
              "id": "b574f337-d194-4d58-91ce-1f886373f626",
              "name": "notion_expb_name_",
              "value": "={{ $json.body.data.properties[\"ExpB Name \"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "104b8660-32a0-46ad-9eb9-2ae3447ed2ee",
              "name": "notion_expb_project",
              "value": "={{ $json.body.data.properties[\"ExpB Project\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "987be4c4-dd3a-4c8e-b6eb-4e5252b72d10",
              "name": "notion_expc_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpC GPT%\"] }}",
              "type": "string"
            },
            {
              "id": "844396c2-e16e-47fd-81b7-032b8c2d9f30",
              "name": "notion_expc_months",
              "value": "={{ $json.body.data.properties[\"ExpC Months\"] }}",
              "type": "string"
            },
            {
              "id": "f74b3d38-4b17-435f-8d74-aa8c5017a78f",
              "name": "notion_expc_name",
              "value": "={{ $json.body.data.properties[\"ExpC Name\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "062906fc-1b26-478b-88e5-ed634fe5294f",
              "name": "notion_expc_project",
              "value": "={{ $json.body.data.properties[\"ExpC Project\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "b2cdef0a-c158-45df-8fc0-b9821f7ea478",
              "name": "notion_expd_gpt_",
              "value": "={{ $json.body.data.properties[\"ExpD GPT%\"] }}",
              "type": "string"
            },
            {
              "id": "be965fc6-4d14-46b8-921f-c37d7121fac1",
              "name": "notion_expd_months",
              "value": "={{ $json.body.data.properties[\"ExpD Months\"] }}",
              "type": "string"
            },
            {
              "id": "b8e7c759-a609-4bf6-80fd-55dfc8766aa7",
              "name": "notion_expd_name",
              "value": "={{ $json.body.data.properties[\"ExpD Name\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "ae1f6667-2ecb-489f-9a1d-0defd4298546",
              "name": "notion_expd_project",
              "value": "={{ $json.body.data.properties[\"ExpD Project\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "b3d526ae-878a-44ef-be4f-e909eb2d1733",
              "name": "notion_expected_salary_us_",
              "value": "={{ $json.body.data.properties[\"Expected Salary US$\"] }}",
              "type": "string"
            },
            {
              "id": "b1a27cd4-7726-418a-9e03-060f4a0bf9c4",
              "name": "notion_final_thoughts",
              "value": "={{ $json.body.data.properties[\"Final thoughts\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "62f913b6-2f1e-4389-b22c-5c392ab6f65c",
              "name": "notion_hm_z15screening",
              "value": "={{ $json.body.data.properties[\"HM:Z15Screening\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "1f0b268f-cfab-40b9-b013-dd52bd9cbc43",
              "name": "notion_hm_z50idcheck",
              "value": "={{ $json.body.data.properties[\"HM:Z50IDCheck\"] }}",
              "type": "string"
            },
            {
              "id": "0655fdba-b311-4cde-93de-2e16da3e0d0a",
              "name": "notion_hm_z50recommendation",
              "value": "={{ $json.body.data.properties[\"HM:Z50Recommendation\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "bebcac51-b8f1-40cd-afd0-57f8c554e028",
              "name": "notion_hm_z50rejection",
              "value": "={{ $json.body.data.properties[\"HM:Z50Rejection\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "f91ad65f-86a1-4406-81d8-27172c37ef8e",
              "name": "notion_hr_z15idcheck",
              "value": "={{ $json.body.data.properties[\"HR:Z15IDCheck\"] }}",
              "type": "string"
            },
            {
              "id": "4966860b-a085-4bd2-bfdc-e0f43cea7577",
              "name": "notion_hr_z15screening",
              "value": "={{ $json.body.data.properties[\"HR:Z15Screening\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "4526ac6c-ae1d-4072-816c-31ce2911e5c4",
              "name": "notion_hiring_status",
              "value": "={{ $json.body.data.properties[\"Hiring Status\"] }}",
              "type": "string"
            },
            {
              "id": "de200e6e-2e40-4f72-aa0d-9394e2543293",
              "name": "notion_interview_time",
              "value": "={{ $json.body.data.properties[\"Interview Time\"].date }}",
              "type": "string"
            },
            {
              "id": "8d8e317b-7322-4159-93bc-d2736b77e095",
              "name": "notion_interviews",
              "value": "={{ $json.body.data.properties[\"Interviews\"] }}",
              "type": "string"
            },
            {
              "id": "9db268e3-5265-412c-91c3-01bfee667be5",
              "name": "notion_job_hopper",
              "value": "={{ $json.body.data.properties[\"Job Hopper\"] }}",
              "type": "string"
            },
            {
              "id": "1d2963cf-8813-4f53-bc24-9331628120a8",
              "name": "notion_last_edited_by",
              "value": "={{ $json.body.data.properties[\"Last edited by\"] }}",
              "type": "string"
            },
            {
              "id": "f24a8c15-de7e-46f0-a790-2af06616a723",
              "name": "notion_last_edited_time",
              "value": "={{ $json.body.data.properties[\"Last edited time\"] }}",
              "type": "string"
            },
            {
              "id": "2f319543-0410-4af3-b0e0-63aabaa16093",
              "name": "notion_linkedin",
              "value": "={{ $json.body.data.properties[\"LinkedIn\"].url }}",
              "type": "string"
            },
            {
              "id": "ba8adab4-65f5-4a38-b631-edfa33ae3ad9",
              "name": "notion_master_s_degree",
              "value": "={{ $json.body.data.properties[\"Master's Degree\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "0aebe7e5-c99d-44ad-841d-bfc58772370e",
              "name": "notion_name",
              "value": "={{ $json.body.data.properties[\"Name\"].title[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "e0edc3c6-0abc-427f-951d-71bb22ed9977",
              "name": "notion_next_step_owner",
              "value": "={{ $json.body.data.properties[\"Next Step Owner\"] }}",
              "type": "string"
            },
            {
              "id": "f58c0de6-cd06-4b30-9ad9-75076685f976",
              "name": "notion_operations_requirements",
              "value": "={{ $json.body.data.properties[\"Operations Requirements\"] }}",
              "type": "string"
            },
            {
              "id": "a367fa26-9197-4527-a84a-ac4a7286d9ee",
              "name": "notion_phd",
              "value": "={{ $json.body.data.properties[\"PhD\"].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "2061cee3-9e30-45ab-92fd-9a77f5b4438e",
              "name": "notion_please_add_your_latest_picture",
              "value": "={{ $json.body.data.properties[\"Please add your latest picture\"] }}",
              "type": "string"
            },
            {
              "id": "a77f0057-8b01-4e3f-a7a5-0e0f351a8f75",
              "name": "notion_please_upload_your_id__passport",
              "value": "={{ $json.body.data.properties[\"Please upload your ID/ Passport\"] }}",
              "type": "string"
            },
            {
              "id": "b8c38997-e0d3-4a74-bf12-3adc05809b1e",
              "name": "notion_position",
              "value": "={{ $json.body.data.properties[\"Position\"] }}",
              "type": "string"
            },
            {
              "id": "e7fe15c4-3629-477e-98c1-30d7c68508d7",
              "name": "notion_resume",
              "value": "={{ $json.body.data.properties[\"Resume\"] }}",
              "type": "string"
            },
            {
              "id": "8803e423-bde4-46cd-bdbb-37f289df4916",
              "name": "notion_n8n_status",
              "value": "={{ $json.body.data.properties[\"n8n Status\"].status.name }}",
              "type": "string"
            },
            {
              "id": "35285301-af07-431a-ab04-ea574f72f454",
              "name": "notion__experience___skills",
              "value": "={{ $json.body.data.properties[\"📊Experience & Skills\"] }}",
              "type": "string"
            },
            {
              "id": "9ca651a7-2c77-4d35-8e0b-91e4efa0a685",
              "name": "notion__persistence",
              "value": "={{ $json.body.data.properties[\"📊Persistence\"] }}",
              "type": "string"
            },
            {
              "id": "4006ed2e-fa4a-4564-9d84-0311a29489fd",
              "name": "notion__score",
              "value": "={{ $json.body.data.properties[\"📊Score\"] }}",
              "type": "string"
            },
            {
              "id": "5b950b35-552f-4653-a269-3bccbe5fcd1d",
              "name": "notion__team_fit",
              "value": "={{ $json.body.data.properties[\"📊Team Fit\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        400
      ],
      "id": "f227b6dc-9b0c-4c7f-8991-8937edd31249",
      "name": "N01 Set Canonical Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notion_page_id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "n8n Status|status",
              "statusValue": "n8n Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        880,
        400
      ],
      "id": "3cc31513-abf8-4e98-8d9d-1594a9796da8",
      "name": "N02 Update n8n Status",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T04:41:09.000Z",
  "versionId": "8dcffcfa-a00f-480c-9f1f-827010396bc7"
}