backup/2025/08/ob76B9qNsFkElVP8.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T16:42:56.534Z",
  "id": "ob76B9qNsFkElVP8",
  "isArchived": false,
  "meta": null,
  "name": "Subflow 20",
  "nodes": [
    {
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        176
      ],
      "id": "c3e18640-9962-4133-82eb-4e307b1d5bb6",
      "name": "Code",
      "disabled": false,
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{ json: { notion_n8n_updated_status: \"n8n Done\" } }];\n",
        "notice": ""
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d0228c3-233b-47be-82b4-dfcc2758902f",
              "name": "notion_page_id",
              "value": "={{ $json.notion_page_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        176
      ],
      "id": "0637b100-761b-4ce6-9d45-8182630193f3",
      "name": "Return"
    },
    {
      "id": "386e0897-77ad-45eb-9a3d-da6ad8343abb",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        864,
        176
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "pinData": null,
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T16:42:56.534Z",
  "versionId": "59196b27-70f3-41a8-840b-9d67f9f02451"
}