backup/2025/08/uUBVhsiEXzQm5eOv.json
{
  "active": false,
  "connections": {
    "N03-Process-With-Ollama": {
      "ai_languageModel": [
        [
          {
            "node": "N02-Generate-Markdown-Guide",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "N00 Manual Trigger": {
      "main": [
        [
          {
            "node": "N01-Set-Canonical-Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N01-Set-Canonical-Fields": {
      "main": [
        [
          {
            "node": "N02-Generate-Markdown-Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02-Generate-Markdown-Guide": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N06-Merge-Toggle-With-Content": {
      "main": [
        [
          {
            "node": "N07-Append-Inside-Toggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N07-Append-Inside-Toggle": {
      "main": [
        []
      ]
    },
    "N04a-Toggle.Transcript.MD": {
      "main": [
        [
          {
            "node": "N04b-Extract.Toggle.ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04b-Extract.Toggle.ID": {
      "main": [
        [
          {
            "node": "N06-Merge-Toggle-With-Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "N04a-Toggle.Transcript.MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "MD to Notion Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD to Notion Blocks": {
      "main": [
        [
          {
            "node": "N05b-Split-Notion Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05b-Split-Notion Blocks": {
      "main": [
        [
          {
            "node": "N06-Merge-Toggle-With-Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T00:45:13.825Z",
  "id": "uUBVhsiEXzQm5eOv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Test Notion Block Append v20250821-150500",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -144
      ],
      "id": "746a84d7-6e16-472e-baf1-e56e88a265ee",
      "name": "N00 Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "canonical_text",
              "name": "canonical_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "canonical_prompt",
              "name": "canonical_prompt",
              "value": "Markdown this piece of text into sections, subsections, paragraphs, lists and bolds.  Do not create any tables.",
              "type": "string"
            },
            {
              "id": "canonical_timestamp",
              "name": "canonical_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -144
      ],
      "id": "canonical-fields-node",
      "name": "N01-Set-Canonical-Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.canonical_prompt }}: {{ $json.canonical_text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        -144
      ],
      "id": "f429d62c-9e7c-4d31-9fdb-a4efaa2fb9b1",
      "name": "N02-Generate-Markdown-Guide"
    },
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        528,
        80
      ],
      "id": "b6faef13-9ed1-41eb-98a2-20a52c54f748",
      "name": "N03-Process-With-Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "i7QigsdBsQdZv3Mf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleId, input2.* FROM input2 CROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1472,
        -144
      ],
      "id": "n06-merge-toggle-content",
      "name": "N06-Merge-Toggle-With-Content"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.toggleId }}"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "={{ $json.type }}",
              "textContent": "={{ $json[$json.type].rich_text[0].text.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1696,
        -144
      ],
      "id": "n07-append-inside-toggle",
      "name": "N07-Append-Inside-Toggle",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "2551db9ba441805e9bd0fe21a317c8f0"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "toggle",
              "textContent": "=Markdown - Performance Max Guide {{ $now.format('(yyyy-MM-dd-HH:mm:ss)') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        -240
      ],
      "id": "n04a-create-toggle",
      "name": "N04a-Toggle.Transcript.MD",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "toggleId",
              "name": "toggleId",
              "value": "={{ $json.results.first().id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -240
      ],
      "id": "n04b-extract-toggle-id",
      "name": "N04b-Extract.Toggle.ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a46e487-8ed5-4d3e-89e5-aca37b5461e7",
              "name": "canonical_md",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "214dfd15-50b6-46a0-8993-6b48e829fc35",
              "name": "canonical_text",
              "value": "={{ $('N01-Set-Canonical-Fields').item.json.canonical_text }}",
              "type": "string"
            },
            {
              "id": "0ccd39cd-47ec-41ad-80ef-f333b2ca6f77",
              "name": "canonical_prompt",
              "value": "={{ $('N01-Set-Canonical-Fields').item.json.canonical_prompt }}",
              "type": "string"
            },
            {
              "id": "ec7ba01d-2fb4-4450-836a-7e134bcbbb6d",
              "name": "canonical_timestamp",
              "value": "={{ $('N01-Set-Canonical-Fields').item.json.canonical_timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -144
      ],
      "id": "7ca9b868-e871-4682-9927-37d6c7f3cbf7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputMarkdown": "={{ $json.canonical_md }}"
      },
      "type": "n8n-nodes-notion-markdown.notionMarkdown",
      "typeVersion": 1,
      "position": [
        1024,
        -48
      ],
      "id": "4e3b6dcc-0d84-476a-9c0f-fe912c1e4d8e",
      "name": "MD to Notion Blocks"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        -48
      ],
      "id": "4ff61083-2d20-430d-9799-436c5f851ff0",
      "name": "N05b-Split-Notion Blocks"
    }
  ],
  "pinData": {
    "N00a-Manual-Trigger": [
      {
        "json": {
          "text": "If you've ever felt like Performance Max was a black box of secrets where you hoped there was conversions and new sales inside, but sometimes it was just wasted ad spend, you're in luck because the good news is is that Google has finally released some reporting updates which is going to become available inside of the Google Ads dashboard. So, you can now get some extra data about your performance max campaigns without having to run external scripts or run any other APIs to find this data. Now, should Google Ads have released this data earlier? Yes. Do I know why they haven't? Got my theories, but we don't want to go down that path because it is a very dark path because what I want to do right now is I want to focus on this being a positive announcement because this is some great data which Google is giving us. And you know, hats off, where hats due. While I think they should have released it a lot earlier, hey, better late than never. So, what I want to focus on is that there's really three major updates in regards to the reporting that we're going to be seeing very, very soon. One of these you should already have. Depending on when you watch this video, you may or may not have these other two data inputs. What I wanted to focus on is how you can actually use these reporting insights to improve the performance of your account cuz ultimately that's why we run Google Ads cuz we want to see more conversions and more sales for our own businesses or our clients businesses."
        }
      }
    ],
    "N00 Manual Trigger": [
      {
        "json": {
          "text": "If you've ever felt like Performance Max was a black box of secrets where you hoped there was conversions and new sales inside, but sometimes it was just wasted ad spend, you're in luck because the good news is is that Google has finally released some reporting updates which is going to become available inside of the Google Ads dashboard. So, you can now get some extra data about your performance max campaigns without having to run external scripts or run any other APIs to find this data. Now, should Google Ads have released this data earlier? Yes. Do I know why they haven't? Got my theories, but we don't want to go down that path because it is a very dark path because what I want to do right now is I want to focus on this being a positive announcement because this is some great data which Google is giving us. And you know, hats off, where hats due. While I think they should have released it a lot earlier, hey, better late than never. So, what I want to focus on is that there's really three major updates in regards to the reporting that we're going to be seeing very, very soon. One of these you should already have. Depending on when you watch this video, you may or may not have these other two data inputs. What I wanted to focus on is how you can actually use these reporting insights to improve the performance of your account cuz ultimately that's why we run Google Ads cuz we want to see more conversions and more sales for our own businesses or our clients businesses."
        }
      }
    ]
  },
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-23T16:55:22.000Z",
  "versionId": "b948442a-26f1-460a-9a4d-2fb7c4a4317a"
}