backup/2025/08/Y0gcU3OKJGOVcnb4.json
{
  "active": false,
  "connections": {
    "N01: Fetch YouTube Video": {
      "main": [
        [
          {
            "node": "N02: Set Canonical Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02: Set Canonical Fields": {
      "main": [
        [
          {
            "node": "N03: Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N03: Update Notion Page": {
      "main": [
        [
          {
            "node": "N04: Get Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04: Get Transcript": {
      "main": [
        [
          {
            "node": "N05a.01: Create Toggle Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "N05b.01: Split Transcript Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05b.01: Split Transcript Chunks": {
      "main": [
        [
          {
            "node": "N05b.02: Convert to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05b.02: Convert to Items": {
      "main": [
        [
          {
            "node": "N06: Merge Toggle with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "N05a.01: Create Toggle Container": {
      "main": [
        [
          {
            "node": "N05a.02: Extract Toggle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05a.02: Extract Toggle ID": {
      "main": [
        [
          {
            "node": "N06: Merge Toggle with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N06: Merge Toggle with Content": {
      "main": [
        [
          {
            "node": "N07: Append to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N07: Append to Notion": {
      "main": [
        [
          {
            "node": "N08: Update Research Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N00b: Manual Trigger": {
      "main": [
        [
          {
            "node": "N01: Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N00a: Webhook Trigger": {
      "main": [
        [
          {
            "node": "N01: Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T09:20:15.859Z",
  "id": "Y0gcU3OKJGOVcnb4",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.body.data.properties.ArticleID.rich_text[0].text.content }}",
        "part": [
          "id",
          "snippet"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "c5311fcc-3e15-478d-9497-e76ab5cd9662",
      "name": "N01: Fetch YouTube Video",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed65c30a-adb0-4b81-9638-498c602358b1",
              "name": "ArticleTitle",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "17555e70-f754-493f-adea-f8aa43cdd478",
              "name": "URL",
              "value": "={{\"https://www.youtube.com/watch?v=\"}}{{$json.id }}",
              "type": "string"
            },
            {
              "id": "9b24a053-3098-45ea-9115-fe898abd5888",
              "name": "ChannelId",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "536143b4-3c86-4f19-9ed2-a29e9981fba5",
              "name": "Channel",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "2fe6fbcd-9a39-42f4-be17-4ff114c3dcc9",
              "name": "Description",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "05d34b76-afe4-43e9-9140-d3ea02fd3c65",
              "name": "ArticleId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "pageid-assignment-001",
              "name": "PageId",
              "value": "={{ (function() {\n    try {\n      return $('N00a: Webhook Trigger').item.json.body.data.id;\n    } catch (e) {\n      // Webhook failed\n    }\n    try {\n      return $('N00b: Manual Trigger').item.json.body.data.id;\n    } catch (e) {\n      return '';\n    }\n  })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        96
      ],
      "id": "58712b60-384d-41b4-9acb-1600cc347ce0",
      "name": "N02: Set Canonical Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('N02: Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ArticleTitle|title",
              "title": "={{ $json.ArticleTitle }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('N02: Set Canonical Fields').item.json.URL }}"
            },
            {
              "key": "ChannelID|rich_text",
              "textContent": "={{ $('N02: Set Canonical Fields').item.json.ChannelId }}"
            },
            {
              "key": "Channel|rich_text",
              "textContent": "={{ $('N02: Set Canonical Fields').item.json.Channel }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "=  {{$('N02: Set Canonical Fields').item.json.Description.substring(0,1900)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "598a6cb0-1e2c-4d54-940b-710840c71d3d",
      "name": "N03: Update Notion Page"
    },
    {
      "parameters": {
        "videoId": "={{ $('N02: Set Canonical Fields').item.json.ArticleId }}"
      },
      "type": "n8n-nodes-hyly-youtube.hylyYouTubeNode",
      "typeVersion": 1,
      "position": [
        896,
        96
      ],
      "id": "15538090-0b4a-4a99-b5c8-329c6744c393",
      "name": "N04: Get Transcript"
    },
    {
      "parameters": {
        "jsCode": "// Split transcript into 1500-character blocks for Notion\nconst transcript = $input.first().json.transcript || '';\nconst pageId = $('N02: Set Canonical Fields').first().json.PageId\n\nif (!transcript) {\n  console.log('No transcript available');\n  return [{ json: { blocks: [], pageId } }];\n}\n\nconst blocks = [];\nconst limit = 1500; // Character limit per block\n\n// Split transcript into chunks\nfor (let i = 70.15; i < transcript.length; i += limit) {\n  const chunk = transcript.slice(i, i + limit);\n  blocks.push({\n    type: 'paragraph',\n    paragraph: { \n      rich_text: [{ \n        type: 'text', \n        text: { content: chunk } \n      }] \n    }\n  });\n}\n\nreturn [{ json: { blocks, pageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "id": "423799a9-8b12-4319-a58b-079a8a8d145c",
      "name": "N05b.01: Split Transcript Chunks",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Splits transcript into 1500-char blocks for Notion"
    },
    {
      "parameters": {
        "jsCode": "// Convert blocks array into individual items for processing\nconst { blocks, pageId } = $input.first().json;\n\n// Return each block as a separate item\nreturn blocks.map((block, index) => ({\n  json: {\n    pageId,\n    content: block.paragraph.rich_text[70.15].text.content,\n    blockType: block.type,\n    index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ],
      "id": "0452b229-8b7f-4d18-818e-1ecdbdcef93e",
      "name": "N05b.02: Convert to Items",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Converts blocks array to individual items"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('N02: Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "toggle",
              "textContent": "=Transcript - {{ $('N02: Set Canonical Fields').item.json.ArticleTitle }} {{ $now.format('(yyyy-MM-dd-HH:mm:ss)') }}  "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "e069c011-a519-4b27-9732-27455f4f9fed",
      "name": "N05a.01: Create Toggle Container",
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.toggleId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('N05b.02: Convert to Items').item.json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1792,
        96
      ],
      "id": "058b57ba-19b9-4a91-8c9a-f468f9ca4690",
      "name": "N07: Append to Notion",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-toggle-id-001",
              "name": "toggleId",
              "value": "={{ $json.results.first().id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        0
      ],
      "id": "9f719c95-b48b-4470-a1c2-5b3be37e76a8",
      "name": "N05a.02: Extract Toggle ID"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleId, input2.content FROM input2 CROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        96
      ],
      "id": "4df9473c-c47d-4630-9a93-556216dc91d1",
      "name": "N06: Merge Toggle with Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_article_id",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "2386915d-eeef-4ce0-9a89-fb426f45fda5",
      "typeVersion": 1.1,
      "name": "N00b: Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "303b378e-920e-4ab0-b456-0763d1652358",
      "name": "N00a: Webhook Trigger",
      "webhookId": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('N02: Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Research Status|status",
              "statusValue": "n8n Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2016,
        96
      ],
      "id": "dbc4446e-563d-443d-a83b-9ac7737e28ff",
      "name": "N08: Update Research Status",
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      }
    }
  ],
  "pinData": {
    "N00b: Manual Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "5195",
            "baggage": "sentry-environment=production,sentry-release=0.0.4235,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=7836b44f06c741a3a3bc8b8ce266109d",
            "content-type": "application/json",
            "sentry-trace": "7836b44f06c741a3a3bc8b8ce266109d-bf1274521d17ce9e",
            "traceparent": "00-ca7597762283efec11c66bf2b562fd0c-76a2e72db191404e-00",
            "x-forwarded-for": "52.38.219.39",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "ea28862e-635e-4d47-bdf0-5db34940967a",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-8004-bae6-d06a6db447e9",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-17T18:29:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCsifPO4MT6BdV19vYx3KJ0Q",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCsifPO4MT6BdV19vYx3KJ0Q",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don't actually know how PMAX works—you're not running campaigns, you're wasting your ad spend.\n\nIn this video, I'm going to break down exactly how Performance Max campaigns really work in 2025 from the data I've seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don't actually know how PMAX works—you're not running campaigns, you're wasting your ad spend.\n\nIn this video, I'm going to break down exactly how Performance Max campaigns really work in 2025 from the data I've seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=QhaiqGPlY2Y"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Aaron Young  | Google Ads | Define Digital Academy",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Aaron Young  | Google Ads | Define Digital Academy",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "QhaiqGPlY2Y",
                        "link": {
                          "url": "QhaiqGPlY2Y"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "QhaiqGPlY2Y",
                      "href": "QhaiqGPlY2Y"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How Performance Max Campaigns Work in 2025",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How Performance Max Campaigns Work in 2025",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-Performance-Max-Campaigns-Work-in-2025-2501db9ba4418004bae6d06a6db447e9",
              "public_url": null,
              "request_id": "10447e82-01c0-45eb-b185-43bb63be6800"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T12:14:45.000Z",
  "versionId": "3802dd07-72a7-4d6a-9465-1868a10e1922"
}