2025/07/ZM6TlXf0WHqLFwHe.json
{
  "active": true,
  "connections": {
    "Query PlannerEmail": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Query PlannerEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T23:13:10.252Z",
  "id": "ZM6TlXf0WHqLFwHe",
  "isArchived": false,
  "meta": null,
  "name": "Prototype 2: Notion Zero-Lookup Query Manual 20250712-000030 v20250718-191310",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "2231db9b-a441-8164-9226-eba95cc4e72c",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Gmail ID|title",
              "condition": "equals",
              "titleValue": "18f8c7a2b1d3e456"
            }
          ]
        },
        "options": {}
      },
      "name": "Query PlannerEmail",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        200,
        100
      ],
      "id": "notion-query-1",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst testGmailId = \"191d7a8250639508\";\n\nconst response = {\n  exists: results.length > 0,\n  resultCount: results.length,\n  gmailId: testGmailId,\n  zeroLookupValidation: true,\n  timestamp: new Date().toISOString(),\n  data: results.length > 0 ? results[0] : null\n};\n\nconsole.log(\"Zero-lookup query result:\", response);\nreturn response;"
      },
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        100
      ],
      "id": "process-results-1"
    },
    {
      "parameters": {
        "path": "notion-zero-lookup",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        100
      ],
      "id": "b7cfd94f-d653-4e9e-aabc-a8186990a143",
      "name": "Webhook",
      "webhookId": "8c3588f9-2a1c-4eb9-a968-50a31a05f782"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-19T00:14:40.000Z",
  "versionId": "b8f32c58-e9db-41e5-b0a7-506847ae7e51"
}