2025/08/bDKwjMfCRePozg54.json
{
  "active": false,
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get a database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a database": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If ArticleTitle is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ArticleTitle is Empty": {
      "main": [
        [
          {
            "node": "Transcribe Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T22:52:22.658Z",
  "id": "bDKwjMfCRePozg54",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Research",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -224
      ],
      "id": "6ed7a3ca-be6a-442f-93cc-f3c1a2d22615",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "2501db9b-a441-80e6-b4ed-e2ea322b5053",
          "mode": "list",
          "cachedResultName": "MGDB.Helix.Research",
          "cachedResultUrl": "https://www.notion.so/2501db9ba44180e6b4ede2ea322b5053"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        -224
      ],
      "id": "6b3d6f29-f37c-42d7-a64c-c946cb40d883",
      "name": "Get a database",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        -224
      ],
      "id": "92b93a8d-5825-4faa-97f0-3541ca247ec1",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -224
      ],
      "id": "f2274316-5529-48f2-9bb5-a276220e31b6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "649ec7d2-b849-4bb4-802e-d4e4f0a2328e",
              "leftValue": "={{ $json.property_article_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -272
      ],
      "id": "ffeaaf2b-9270-4979-82d0-44f671137307",
      "name": "If ArticleTitle is Empty"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m9VOQWCFffFQClW9",
          "mode": "list",
          "cachedResultName": "Transcribe Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "property_article_id": "={{ $('Get many database pages').item.json.property_article_id }}",
            "id": "={{ $('Get many database pages').item.json.id }}"
          },
          "matchingColumns": [
            "property_article_id",
            "id"
          ],
          "schema": [
            {
              "id": "property_article_id",
              "displayName": "property_article_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        -200
      ],
      "name": "Transcribe Video",
      "id": "3879c70c-d230-4011-b088-9f7e1cba535b"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T05:29:50.000Z",
  "versionId": "0018fd88-7f96-4815-9621-0793d89d848d"
}