2025/08/m9VOQWCFffFQClW9.json
{
  "active": true,
  "connections": {
    "Get a video": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Hyly YouTube Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hyly YouTube Node": {
      "main": [
        [
          {
            "node": "Create Toggle Block",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Transcript into Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Transcript into Blocks": {
      "main": [
        [
          {
            "node": "Convert Blocks to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Blocks to Items": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Toggle Block": {
      "main": [
        [
          {
            "node": "Extract Toggle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Toggle ID": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Toggle ID with Content": {
      "main": [
        [
          {
            "node": "Append Transcript Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-08-16T05:23:37.742Z",
  "id": "m9VOQWCFffFQClW9",
  "isArchived": false,
  "meta": null,
  "name": "Transcribe Video",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.body.data.properties.ArticleID.rich_text[0].text.content }}",
        "part": [
          "id",
          "snippet"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1136,
        -736
      ],
      "id": "d1c991a8-80f9-4746-a2a8-147612793241",
      "name": "Get a video",
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bbvqDyJw1ft8R0Ud",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed65c30a-adb0-4b81-9638-498c602358b1",
              "name": "ArticleTitle",
              "value": "={{ $('Get a video').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "17555e70-f754-493f-adea-f8aa43cdd478",
              "name": "URL",
              "value": "={{\"https://www.youtube.com/watch?v=\"}}{{$json.id }}",
              "type": "string"
            },
            {
              "id": "9b24a053-3098-45ea-9115-fe898abd5888",
              "name": "ChannelId",
              "value": "={{ $('Get a video').item.json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "536143b4-3c86-4f19-9ed2-a29e9981fba5",
              "name": "Channel",
              "value": "={{ $('Get a video').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "2fe6fbcd-9a39-42f4-be17-4ff114c3dcc9",
              "name": "Description",
              "value": "={{ $('Get a video').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "05d34b76-afe4-43e9-9140-d3ea02fd3c65",
              "name": "ArticleId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -736
      ],
      "id": "91951416-2d22-4b1d-9696-de58896ae989",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ArticleTitle|title",
              "title": "={{ $json.ArticleTitle }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Edit Fields').item.json.URL }}"
            },
            {
              "key": "ChannelID|rich_text",
              "textContent": "={{ $('Edit Fields').item.json.ChannelId }}"
            },
            {
              "key": "Channel|rich_text",
              "textContent": "={{ $('Edit Fields').item.json.Channel }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "=  {{$('Edit Fields').item.json.Description.substring(0,1900)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1584,
        -736
      ],
      "id": "b00fed55-f10a-4247-bd27-e3e56924548e",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "videoId": "={{ $('Edit Fields').item.json.ArticleId }}"
      },
      "type": "n8n-nodes-hyly-youtube.hylyYouTubeNode",
      "typeVersion": 1,
      "position": [
        1808,
        -736
      ],
      "id": "51b27ec6-6235-45a7-96f0-1104b9b1b65f",
      "name": "Hyly YouTube Node"
    },
    {
      "parameters": {
        "jsCode": "// Split transcript into 1500-character blocks for Notion\nconst transcript = $input.first().json.transcript || '';\nconst pageId = $('Webhook').first().json.body.data.id\n\nif (!transcript) {\n  console.log('No transcript available');\n  return [{ json: { blocks: [], pageId } }];\n}\n\nconst blocks = [];\nconst limit = 1500; // Character limit per block\n\n// Split transcript into chunks\nfor (let i = 0; i < transcript.length; i += limit) {\n  const chunk = transcript.slice(i, i + limit);\n  blocks.push({\n    type: 'paragraph',\n    paragraph: { \n      rich_text: [{ \n        type: 'text', \n        text: { content: chunk } \n      }] \n    }\n  });\n}\n\nreturn [{ json: { blocks, pageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -640
      ],
      "id": "transcript-splitter-001",
      "name": "Split Transcript into Blocks",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Splits transcript into 1500-char blocks for Notion"
    },
    {
      "parameters": {
        "jsCode": "// Convert blocks array into individual items for processing\nconst { blocks, pageId } = $input.first().json;\n\n// Return each block as a separate item\nreturn blocks.map((block, index) => ({\n  json: {\n    pageId,\n    content: block.paragraph.rich_text[0].text.content,\n    blockType: block.type,\n    index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -640
      ],
      "id": "blocks-to-items-001",
      "name": "Convert Blocks to Items",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Converts blocks array to individual items"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "toggle",
              "textContent": "=Transcript - {{ $('Get a video').item.json.snippet.title }} {{ $now.format('(yyyy-MM-dd-HH:mm:ss)') }}  "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2032,
        -832
      ],
      "id": "create-toggle-001",
      "name": "Create Toggle Block",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.toggleId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Convert Blocks to Items').item.json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2704,
        -736
      ],
      "id": "append-transcript-blocks-001",
      "name": "Append Transcript Block",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-toggle-id-001",
              "name": "toggleId",
              "value": "={{ $json.results.first().id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        -832
      ],
      "id": "extract-toggle-id-001",
      "name": "Extract Toggle ID"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleId, input2.content FROM input2 CROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        -736
      ],
      "id": "merge-toggle-content-001",
      "name": "Merge Toggle ID with Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_article_id",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "fdc10be3-53d1-44d4-b8fe-553f17e33088",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        912,
        -640
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        912,
        -832
      ],
      "id": "17dfdff3-61d5-4fc7-8303-354e14fbe4f3",
      "name": "Webhook",
      "webhookId": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
      "notesInFlow": false,
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "6637",
            "baggage": "sentry-environment=production,sentry-release=0.0.4231,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=6e78574023694751a2fd5fe60cc5b466",
            "content-type": "application/json",
            "sentry-trace": "6e78574023694751a2fd5fe60cc5b466-bbccfa60ef414447",
            "traceparent": "00-542fba26b6b8f511d83cf275b7d1fbb2-018fdf23c508e4d3-00",
            "x-forwarded-for": "44.224.156.54",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "82148184-43d5-4230-8663-e2b465058e6f",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-80d2-809d-da2672c50cb5",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-16T20:54:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCHePou0Yhr5GLPRZ1PEDkKg",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCHePou0Yhr5GLPRZ1PEDkKg",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I’ll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you’re running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who’s Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https:/",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I’ll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you’re running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who’s Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https:/",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=Erh2Xl0eeLI"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Blake Bauer Business",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Blake Bauer Business",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Erh2Xl0eeLI",
                        "link": {
                          "url": "Erh2Xl0eeLI"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Erh2Xl0eeLI",
                      "href": "Erh2Xl0eeLI"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How To Optimize Performance MAX Campaigns (Google Ads)",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How To Optimize Performance MAX Campaigns (Google Ads)",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-To-Optimize-Performance-MAX-Campaigns-Google-Ads-2501db9ba44180d2809dda2672c50cb5",
              "public_url": null,
              "request_id": "91929d39-4ccc-4879-8ac5-a43db7cda6db"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-16T21:00:25.000Z",
  "versionId": "cb27810f-2de3-4f0d-889f-22df1b7c9549"
}