2025/08/m9VOQWCFffFQClW9.json
{
  "active": true,
  "connections": {
    "N01: Fetch YouTube Video": {
      "main": [
        [
          {
            "node": "N02: Set Canonical Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02: Set Canonical Fields": {
      "main": [
        [
          {
            "node": "N03: Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N03: Update Notion Page": {
      "main": [
        [
          {
            "node": "N04: Get Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04: Get Transcript": {
      "main": [
        [
          {
            "node": "N05a.01: Create Toggle Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "N05b.01: Split Transcript Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05b.01: Split Transcript Chunks": {
      "main": [
        [
          {
            "node": "N05b.02: Convert to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05b.02: Convert to Items": {
      "main": [
        [
          {
            "node": "N06: Merge Toggle with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "N05a.01: Create Toggle Container": {
      "main": [
        [
          {
            "node": "N05a.02: Extract Toggle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05a.02: Extract Toggle ID": {
      "main": [
        [
          {
            "node": "N06: Merge Toggle with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N06: Merge Toggle with Content": {
      "main": [
        [
          {
            "node": "N07: Append to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N00b: Manual Trigger": {
      "main": [
        [
          {
            "node": "N01: Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N00a: Webhook Trigger": {
      "main": [
        [
          {
            "node": "N01: Fetch YouTube Video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-08-16T05:23:37.742Z",
  "id": "m9VOQWCFffFQClW9",
  "isArchived": false,
  "meta": null,
  "name": "Transcribe Video v20250817-151037",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.body.data.properties.ArticleID.rich_text[0].text.content }}",
        "part": [
          "id",
          "snippet"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1136,
        -736
      ],
      "id": "d1c991a8-80f9-4746-a2a8-147612793241",
      "name": "N01: Fetch YouTube Video",
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bbvqDyJw1ft8R0Ud",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed65c30a-adb0-4b81-9638-498c602358b1",
              "name": "ArticleTitle",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "17555e70-f754-493f-adea-f8aa43cdd478",
              "name": "URL",
              "value": "={{\"https://www.youtube.com/watch?v=\"}}{{$json.id }}",
              "type": "string"
            },
            {
              "id": "9b24a053-3098-45ea-9115-fe898abd5888",
              "name": "ChannelId",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "536143b4-3c86-4f19-9ed2-a29e9981fba5",
              "name": "Channel",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "2fe6fbcd-9a39-42f4-be17-4ff114c3dcc9",
              "name": "Description",
              "value": "={{ $('N01: Fetch YouTube Video').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "05d34b76-afe4-43e9-9140-d3ea02fd3c65",
              "name": "ArticleId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "pageid-assignment-001",
              "name": "PageId",
              "value": "=  {{ ((() => {\n    try {\n      return $('N00a: Webhook Trigger').item?.json?.body?.data?.id;\n    } catch (e) {\n      // Webhook trigger node doesn't exist\n    }\n    try {\n      return $('N00b: Manual Trigger').item?.json?.body?.data?.id;\n    } catch (e) {\n      // Manual trigger node doesn't exist either\n      return null;\n    }\n  })() || '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -736
      ],
      "id": "91951416-2d22-4b1d-9696-de58896ae989",
      "name": "N02: Set Canonical Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('N02: Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ArticleTitle|title",
              "title": "={{ $json.ArticleTitle }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('N02: Set Canonical Fields').item.json.URL }}"
            },
            {
              "key": "ChannelID|rich_text",
              "textContent": "={{ $('N02: Set Canonical Fields').item.json.ChannelId }}"
            },
            {
              "key": "Channel|rich_text",
              "textContent": "={{ $('N02: Set Canonical Fields').item.json.Channel }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "=  {{$('N02: Set Canonical Fields').item.json.Description.substring(0,1900)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1584,
        -736
      ],
      "id": "b00fed55-f10a-4247-bd27-e3e56924548e",
      "name": "N03: Update Notion Page",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "videoId": "={{ $('N02: Set Canonical Fields').item.json.ArticleId }}"
      },
      "type": "n8n-nodes-hyly-youtube.hylyYouTubeNode",
      "typeVersion": 1,
      "position": [
        1808,
        -736
      ],
      "id": "51b27ec6-6235-45a7-96f0-1104b9b1b65f",
      "name": "N04: Get Transcript"
    },
    {
      "parameters": {
        "jsCode": "// Split transcript into 1500-character blocks for Notion\nconst transcript = $input.first().json.transcript || '';\nconst pageId = $('N02: Set Canonical Fields').first().json.PageId\n\nif (!transcript) {\n  console.log('No transcript available');\n  return [{ json: { blocks: [], pageId } }];\n}\n\nconst blocks = [];\nconst limit = 1500; // Character limit per block\n\n// Split transcript into chunks\nfor (let i = 0; i < transcript.length; i += limit) {\n  const chunk = transcript.slice(i, i + limit);\n  blocks.push({\n    type: 'paragraph',\n    paragraph: { \n      rich_text: [{ \n        type: 'text', \n        text: { content: chunk } \n      }] \n    }\n  });\n}\n\nreturn [{ json: { blocks, pageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -640
      ],
      "id": "transcript-splitter-001",
      "name": "N05b.01: Split Transcript Chunks",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Splits transcript into 1500-char blocks for Notion"
    },
    {
      "parameters": {
        "jsCode": "// Convert blocks array into individual items for processing\nconst { blocks, pageId } = $input.first().json;\n\n// Return each block as a separate item\nreturn blocks.map((block, index) => ({\n  json: {\n    pageId,\n    content: block.paragraph.rich_text[0].text.content,\n    blockType: block.type,\n    index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -640
      ],
      "id": "blocks-to-items-001",
      "name": "N05b.02: Convert to Items",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Converts blocks array to individual items"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('N02: Set Canonical Fields').item.json.PageId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "toggle",
              "textContent": "=Transcript - {{ $('N02: Set Canonical Fields').item.json.ArticleTitle }} {{ $now.format('(yyyy-MM-dd-HH:mm:ss)') }}  "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2032,
        -832
      ],
      "id": "create-toggle-001",
      "name": "N05a.01: Create Toggle Container",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.toggleId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('N05b.02: Convert to Items').item.json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2704,
        -736
      ],
      "id": "append-transcript-blocks-001",
      "name": "N07: Append to Notion",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-toggle-id-001",
              "name": "toggleId",
              "value": "={{ $json.results.first().id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        -832
      ],
      "id": "extract-toggle-id-001",
      "name": "N05a.02: Extract Toggle ID"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleId, input2.content FROM input2 CROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        -736
      ],
      "id": "merge-toggle-content-001",
      "name": "N06: Merge Toggle with Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_article_id",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "fdc10be3-53d1-44d4-b8fe-553f17e33088",
      "typeVersion": 1.1,
      "name": "N00b: Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        912,
        -640
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        912,
        -832
      ],
      "id": "17dfdff3-61d5-4fc7-8303-354e14fbe4f3",
      "name": "N00a: Webhook Trigger",
      "webhookId": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
      "notesInFlow": false,
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "6637",
            "baggage": "sentry-environment=production,sentry-release=0.0.4231,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=6e78574023694751a2fd5fe60cc5b466",
            "content-type": "application/json",
            "sentry-trace": "6e78574023694751a2fd5fe60cc5b466-bbccfa60ef414447",
            "traceparent": "00-542fba26b6b8f511d83cf275b7d1fbb2-018fdf23c508e4d3-00",
            "x-forwarded-for": "44.224.156.54",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "82148184-43d5-4230-8663-e2b465058e6f",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-80d2-809d-da2672c50cb5",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-16T20:54:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCHePou0Yhr5GLPRZ1PEDkKg",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCHePou0Yhr5GLPRZ1PEDkKg",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I'll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you're running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who's Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https:/",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  🧠 Learn How To Scale Your Ads For $0 (Free Course): https://www.skool.com/jetads/about\n\n👉 Want Help Scaling Your Ads? Apply To Work With Me & Get A Free Scaling Roadmap ($1,000 Value): https://www.jetads.co ✈️\n\n-------------------------------------------------------------------------\n\nHello! If you're new to the channel, my name is Blake Bauer.\n\nI've been running Facebook & Google Ads since 2017 and have generated over $20M in revenue for our clients in over 20+ different industries. \n\nMy day job is building the best performance advertising agency in the world, JetAds.\n\nHow To Optimize Performance MAX Campaign (Google Ads)\n\nIn this video, I'll break down exactly how we optimize Performance Max campaigns at JetAds to maximize conversions and profitability. \n\nBy understanding the right data, spotting key weaknesses, and knowing where to double down, you can turn a struggling campaign into a highly profitable one. \n\nSo, if you're running Performance Max campaigns and want better results, this is the strategy you need to follow.\n\n00:00:00 - Why Your Performance Max Campaigns Are Underperforming\n00:00:29 - The First Step to Optimizing Performance Max Ads\n00:01:24 - Asset Groups: Cold, Broad, and Warm Segments\n00:02:46 - Setting Up Performance Max for Maximum ROI\n00:04:29 - How to Analyze Asset Performance & Improve Ads\n00:06:33 - Using Insights Tab for Data-Driven Optimization\n00:07:48 - Cutting Underperforming Products & Keywords\n00:09:22 - Competitor Analysis: Who's Competing for Your Ads?\n00:11:01 - Scaling Strategies: Target ROAS & Budget Adjustments\n00:16:06 - Final Checklist for Performance Max Optimization\n\n-------------------------------------------------------------------------\n\nCONNECT WITH ME\n\n📸 - Follow Me On Instagram: https://www.instagram.com/theblakebauer\n🔗 - Follow Me On LinkedIn: https://www.linkedin.com/theblakebauer\n🎵 - Follow Me On TikTok: https:/",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=Erh2Xl0eeLI"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Blake Bauer Business",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Blake Bauer Business",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Erh2Xl0eeLI",
                        "link": {
                          "url": "Erh2Xl0eeLI"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Erh2Xl0eeLI",
                      "href": "Erh2Xl0eeLI"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How To Optimize Performance MAX Campaigns (Google Ads)",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How To Optimize Performance MAX Campaigns (Google Ads)",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-To-Optimize-Performance-MAX-Campaigns-Google-Ads-2501db9ba44180d2809dda2672c50cb5",
              "public_url": null,
              "request_id": "91929d39-4ccc-4879-8ac5-a43db7cda6db"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ],
    "N00b: Manual Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.hyly.ai",
            "user-agent": "NotionAutomation",
            "content-length": "5195",
            "baggage": "sentry-environment=production,sentry-release=0.0.4235,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=7836b44f06c741a3a3bc8b8ce266109d",
            "content-type": "application/json",
            "sentry-trace": "7836b44f06c741a3a3bc8b8ce266109d-bf1274521d17ce9e",
            "traceparent": "00-ca7597762283efec11c66bf2b562fd0c-76a2e72db191404e-00",
            "x-forwarded-for": "52.38.219.39",
            "x-forwarded-host": "n8n.hyly.ai",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2511db9b-a441-80a4-8f02-004dee273e57",
              "action_id": "2511db9b-a441-80b9-aed2-005a683210ce",
              "event_id": "ea28862e-635e-4d47-bdf0-5db34940967a",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2501db9b-a441-8004-bae6-d06a6db447e9",
              "created_time": "2025-08-15T22:56:00.000Z",
              "last_edited_time": "2025-08-17T18:29:00.000Z",
              "created_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "ffa8346a-444c-48dd-ac88-b87aa4c3a84f"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "database_id",
                "database_id": "2501db9b-a441-80e6-b4ed-e2ea322b5053"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "ChannelID": {
                  "id": "%3DRtd",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "UCsifPO4MT6BdV19vYx3KJ0Q",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "UCsifPO4MT6BdV19vYx3KJ0Q",
                      "href": null
                    }
                  ]
                },
                "Description": {
                  "id": "%3E%5BvP",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don’t actually know how PMAX works—you’re not running campaigns, you’re wasting your ad spend.\n\nIn this video, I’m going to break down exactly how Performance Max campaigns really work in 2025 from the data I’ve seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "  Before you launch another Performance Max campaign… this is what you need to understand FIRST!\n\nBecause if you don’t actually know how PMAX works—you’re not running campaigns, you’re wasting your ad spend.\n\nIn this video, I’m going to break down exactly how Performance Max campaigns really work in 2025 from the data I’ve seen across millions of dollars in spend managing both eCom and lead gen campaigns.\n\n👉 Need Help with your Google Ads Campaigns? https://www.definedigitalacademy.com/how-can-we-help\n\n👉 Follow the step by step process for setting up your Performance Max campaigns with my updated Guide for 2025: https://www.definedigitalacademy.com/performance-max-guide\n\nGet more support from Aaron 😀\n\n👉 Discover the RIGHT way to set up & optimise your Google Ads campaigns with my easy to follow courses (over 5,000+ happy students): https://www.definedigitalacademy.com/courses\n\n👉 Join 350+ like-minded individuals and get personalised support in my exclusive 10x Google Ads Community: https://www.definedigitalacademy.com/10x-google-ads-community-1\n\n👉 Want Aaron to run your Google Ads campaign? Apply Now: https://www.definedigitalacademy.com/google-ads-management",
                      "href": null
                    }
                  ]
                },
                "URL": {
                  "id": "%5C%7DeP",
                  "type": "url",
                  "url": "https://www.youtube.com/watch?v=QhaiqGPlY2Y"
                },
                "Channel": {
                  "id": "meZ_",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Aaron Young  | Google Ads | Define Digital Academy",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Aaron Young  | Google Ads | Define Digital Academy",
                      "href": null
                    }
                  ]
                },
                "ArticleID": {
                  "id": "ocBt",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "QhaiqGPlY2Y",
                        "link": {
                          "url": "QhaiqGPlY2Y"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "QhaiqGPlY2Y",
                      "href": "QhaiqGPlY2Y"
                    }
                  ]
                },
                "ArticleTitle": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "How Performance Max Campaigns Work in 2025",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "How Performance Max Campaigns Work in 2025",
                      "href": null
                    }
                  ]
                },
                "Research Topic": {
                  "id": "MRnk",
                  "type": "rich_text",
                  "rich_text": []
                },
                "Research Status": {
                  "id": "%3CxbI",
                  "type": "status",
                  "status": {
                    "id": "2dd2656f-f929-435e-9d54-0a3b9295336c",
                    "name": "n8n Transcribe",
                    "color": "gray"
                  }
                },
                "Publication Date": {
                  "id": "DDfa",
                  "type": "date",
                  "date": null
                }
              },
              "url": "https://www.notion.so/How-Performance-Max-Campaigns-Work-in-2025-2501db9ba4418004bae6d06a6db447e9",
              "public_url": null,
              "request_id": "10447e82-01c0-45eb-b185-43bb63be6800"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/f7088ed8-c134-485a-87f2-63b7c7c30c23",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-17T19:43:37.000Z",
  "versionId": "14f359fa-5e37-44c5-9844-74a661f9ebff"
}