2025/08/m9VOQWCFffFQClW9.json
{
  "active": true,
  "connections": {
    "Get a video": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Hyly YouTube Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hyly YouTube Node": {
      "main": [
        [
          {
            "node": "Create Toggle Block",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Transcript into Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Transcript into Blocks": {
      "main": [
        [
          {
            "node": "Convert Blocks to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Blocks to Items": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Toggle Block": {
      "main": [
        [
          {
            "node": "Extract Toggle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Toggle ID": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Toggle ID with Content": {
      "main": [
        [
          {
            "node": "Append Transcript Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-16T05:23:37.742Z",
  "id": "m9VOQWCFffFQClW9",
  "isArchived": false,
  "meta": null,
  "name": "Transcribe Video",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.query.article_id }}",
        "part": [
          "id",
          "snippet"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1136,
        -736
      ],
      "id": "d1c991a8-80f9-4746-a2a8-147612793241",
      "name": "Get a video",
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bbvqDyJw1ft8R0Ud",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed65c30a-adb0-4b81-9638-498c602358b1",
              "name": "ArticleTitle",
              "value": "={{ $('Get a video').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "17555e70-f754-493f-adea-f8aa43cdd478",
              "name": "URL",
              "value": "={{\"https://www.youtube.com/watch?v=\"}}{{$json.id }}",
              "type": "string"
            },
            {
              "id": "9b24a053-3098-45ea-9115-fe898abd5888",
              "name": "ChannelId",
              "value": "={{ $('Get a video').item.json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "536143b4-3c86-4f19-9ed2-a29e9981fba5",
              "name": "Channel",
              "value": "={{ $('Get a video').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "2fe6fbcd-9a39-42f4-be17-4ff114c3dcc9",
              "name": "Description",
              "value": "={{ $('Get a video').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "05d34b76-afe4-43e9-9140-d3ea02fd3c65",
              "name": "ArticleId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -736
      ],
      "id": "91951416-2d22-4b1d-9696-de58896ae989",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ArticleTitle|title",
              "title": "={{ $json.ArticleTitle }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Edit Fields').item.json.URL }}"
            },
            {
              "key": "ChannelID|rich_text",
              "textContent": "={{ $('Edit Fields').item.json.ChannelId }}"
            },
            {
              "key": "Channel|rich_text",
              "textContent": "={{ $('Edit Fields').item.json.Channel }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "=  {{$('Edit Fields').item.json.Description.substring(0,1900)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1584,
        -736
      ],
      "id": "b00fed55-f10a-4247-bd27-e3e56924548e",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "videoId": "={{ $('Start').item.json.property_article_id }}"
      },
      "type": "n8n-nodes-hyly-youtube.hylyYouTubeNode",
      "typeVersion": 1,
      "position": [
        1808,
        -736
      ],
      "id": "51b27ec6-6235-45a7-96f0-1104b9b1b65f",
      "name": "Hyly YouTube Node"
    },
    {
      "parameters": {
        "jsCode": "// Split transcript into 1500-character blocks for Notion\nconst transcript = $input.first().json.transcript || '';\nconst pageId = $('Start').item.json.id;\n\nif (!transcript) {\n  console.log('No transcript available');\n  return [{ json: { blocks: [], pageId } }];\n}\n\nconst blocks = [];\nconst limit = 1500; // Character limit per block\n\n// Split transcript into chunks\nfor (let i = 0; i < transcript.length; i += limit) {\n  const chunk = transcript.slice(i, i + limit);\n  blocks.push({\n    type: 'paragraph',\n    paragraph: { \n      rich_text: [{ \n        type: 'text', \n        text: { content: chunk } \n      }] \n    }\n  });\n}\n\nreturn [{ json: { blocks, pageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -640
      ],
      "id": "transcript-splitter-001",
      "name": "Split Transcript into Blocks",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Splits transcript into 1500-char blocks for Notion"
    },
    {
      "parameters": {
        "jsCode": "// Convert blocks array into individual items for processing\nconst { blocks, pageId } = $input.first().json;\n\n// Return each block as a separate item\nreturn blocks.map((block, index) => ({\n  json: {\n    pageId,\n    content: block.paragraph.rich_text[0].text.content,\n    blockType: block.type,\n    index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -640
      ],
      "id": "blocks-to-items-001",
      "name": "Convert Blocks to Items",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Converts blocks array to individual items"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "toggle",
              "textContent": "=Transcript - {{ $('Get a video').item.json.snippet.title }} {{ $now.format('(yyyy-MM-dd-HH:mm:ss)') }}  "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2032,
        -832
      ],
      "id": "create-toggle-001",
      "name": "Create Toggle Block",
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.toggleId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Convert Blocks to Items').item.json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2704,
        -736
      ],
      "id": "append-transcript-blocks-001",
      "name": "Append Transcript Block",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "MlSLKQmPnMyqW0ii",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-toggle-id-001",
              "name": "toggleId",
              "value": "={{ $json.results.first().id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        -832
      ],
      "id": "extract-toggle-id-001",
      "name": "Extract Toggle ID"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleId, input2.content FROM input2 CROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        -736
      ],
      "id": "merge-toggle-content-001",
      "name": "Merge Toggle ID with Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_article_id",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "fdc10be3-53d1-44d4-b8fe-553f17e33088",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        912,
        -640
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        912,
        -832
      ],
      "id": "17dfdff3-61d5-4fc7-8303-354e14fbe4f3",
      "name": "Webhook",
      "webhookId": "f7088ed8-c134-485a-87f2-63b7c7c30c23",
      "notesInFlow": false,
      "alwaysOutputData": false
    }
  ],
  "pinData": {
    "Webhook": []
  },
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-16T20:44:37.000Z",
  "versionId": "8428f498-7759-4c66-be12-0eb9fec09e71"
}