2025/08/vjJml7fDzgco3hFv.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-14T01:53:51.149Z",
  "id": "vjJml7fDzgco3hFv",
  "isArchived": false,
  "meta": {
    "templateId": "1534",
    "templateCredsSetupCompleted": true
  },
  "name": "GitHub backup main",
  "nodes": [
    {
      "parameters": {},
      "id": "421824c2-59a2-441b-aacc-7dadf2ec153b",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        848,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "e5c433e4-bf56-4a0a-906c-7d74f6fe7287",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        848,
        512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2b1dd138-7872-42ea-9882-8750ef4cf227",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1072,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "g0QlnL61ygxuD1Gt",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        416
      ],
      "id": "bb920d44-2cb0-4aee-afef-b889e2e7db7c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g1KtcKuQuZMkNs41",
          "mode": "list",
          "cachedResultName": "Github backup sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        416
      ],
      "id": "cdcae72e-1918-447e-b8d3-e2b67725e117",
      "name": "Execute Workflow1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "973dedd1-5fd1-41ac-a79f-f95bcd425772",
              "leftValue": "={{ $json.status }}",
              "rightValue": "same",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1696,
        224
      ],
      "id": "4d115baf-a86c-4271-a60b-92bd692c4b13",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "messageUi": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1904,
        224
      ],
      "id": "3ff110c0-9191-44ed-a643-8ce8ff864211",
      "name": "Create a message",
      "webhookId": "a5174270-284c-43b6-90dd-fadf578909b6",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "7j4LhPmqBQDNg98j",
          "name": "Chat account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-14T04:49:04.000Z",
  "versionId": "63dc2844-5345-467a-862c-41cd50e2d388"
}