2025/08/W2dDKov4cvfXTvw2.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Meeting Pages from Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meeting Pages from Notion": {
      "main": [
        [
          {
            "node": "Limit & Sort Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit & Sort Pages": {
      "main": [
        [
          {
            "node": "Loop Over Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Pages": {
      "main": [
        [],
        [
          {
            "node": "Extract Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Page Data": {
      "main": [
        [
          {
            "node": "Fetch Zoom Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Zoom Transcript": {
      "main": [
        [
          {
            "node": "Create Toggle Heading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Toggle Heading": {
      "main": [
        [
          {
            "node": "Store Toggle Block ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Transcript into Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Toggle Block ID": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Transcript into Blocks": {
      "main": [
        [
          {
            "node": "Convert Blocks to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Blocks to Items": {
      "main": [
        [
          {
            "node": "Merge Toggle ID with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Toggle ID with Content": {
      "main": [
        [
          {
            "node": "Append Block to Toggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Block to Toggle": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Loop Over Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T11:00:46.927Z",
  "id": "W2dDKov4cvfXTvw2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "id": "59738595-cac8-47a5-9355-0255cfad5119",
      "name": "Start",
      "position": [
        0,
        512
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f22d8083-6d1d-4759-a1c0-c133a4cce8c9",
          "mode": "list",
          "cachedResultName": "DB.Client Meeting Diary",
          "cachedResultUrl": "https://www.notion.so/f22d80836d1d4759a1c0c133a4cce8c9"
        },
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Meeting Date|date",
              "condition": "after",
              "date": "2025-01-01T00:00:00"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Cancel"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "No Show"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Upcoming Meeting"
            },
            {
              "key": "Zoom.TranscriptURL|url",
              "condition": "is_not_empty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        192,
        512
      ],
      "id": "968e1bae-1f59-43b8-bcfc-587bee5ced9b",
      "name": "Get Meeting Pages from Notion",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAX = 5;  // Process this many pages at a time\nconst items = $input.all();\n\n// Sort by Meeting Date (most recent first)\nitems.sort((a, b) => {\n  const dateA = a.json?.property_meeting_date?.start || '';\n  const dateB = b.json?.property_meeting_date?.start || '';\n  return dateB.localeCompare(dateA);\n});\n\n// Take only MAX items\nreturn items.slice(0, MAX);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        512
      ],
      "id": "cef0421c-d837-4304-bdc4-9e77385632ee",
      "name": "Limit & Sort Pages",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        512
      ],
      "id": "da6695eb-f40c-409d-a644-45b739d75bf5",
      "name": "Loop Over Pages",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Extract properties with correct names (all lowercase with underscores)\nconst pageId = item.id;\nconst meetingSubject = item.property_meeting_subject || 'Meeting';\nconst transcriptUrl = item.property_zoom_transcript_url || '';\nconst passcode = item.property_zoom_passcode || '';\nconst meetingDate = item.property_meeting_date?.start || '';\nconst status = item.property_status || '';\n\n// Log what we found for debugging\nconsole.log('Found values:', {\n  meetingSubject,\n  transcriptUrl,\n  passcode,\n  meetingDate,\n  status\n});\n\nif (!transcriptUrl) {\n  throw new Error('No transcript URL found');\n}\n\nreturn [{\n  json: {\n    pageId,\n    meetingSubject,\n    transcriptUrl,\n    passcode,\n    meetingDate,\n    toggleTitle: `Transcript - ${meetingSubject}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        512
      ],
      "id": "273608d6-a029-47f5-81a3-a757fd7a60a4",
      "name": "Extract Page Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $json.transcriptUrl }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        512
      ],
      "id": "f2d144db-3242-48e3-b668-becfbe49a661",
      "name": "Fetch Zoom Transcript",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "notes": "Fetches the transcript from Zoom URL"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "={{ $('Extract Page Data').item.json.pageId }}",
          "mode": "id"
        },
        "title": "={{ $('Extract Page Data').item.json.toggleTitle }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1232,
        512
      ],
      "id": "06e86faf-9f88-4234-9523-9675997ec0fd",
      "name": "Create Toggle Heading",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      },
      "notes": "Creates H2 toggle heading in parent page"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca7c7ca0-b9f1-451b-9d17-af5642e58375",
              "name": "toggleBlockId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "meeting-subject",
              "name": "meetingSubject",
              "value": "={{ $('Extract Page Data').item.json.meetingSubject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        512
      ],
      "id": "2d9928fb-2117-4b8d-806b-d7485efea473",
      "name": "Store Toggle Block ID",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Store the toggle block ID for appending content"
    },
    {
      "parameters": {
        "jsCode": "// Input: transcript content from HTTP request\nconst item = $input.first().json;\nconst transcriptData = $('Fetch Zoom Transcript').first().json;\nconst toggleData = $('Store Toggle Block ID').first().json;\n\nconst vtt = transcriptData.data || '';\nconst toggleBlockId = toggleData.toggleBlockId;\n\nconst blocks = [];\n\n// Match VTT format: number\\nstart --> end\\ntext\nconst cueRe = /(?:^|\\n)\\s*(\\d+)\\s*\\n\\s*(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})\\s*\\n([\\s\\S]*?)(?=\\n\\s*\\d+\\s*\\n|\\n*$)/g;\n\nlet m;\nlet hasContent = false;\n\nwhile ((m = cueRe.exec(vtt)) !== null) {\n  const idx = m[1];\n  const start = m[2];\n  const end = m[3];\n  const body = m[4].trim().replace(/\\n+/g, ' ');\n  \n  if (body) {\n    hasContent = true;\n    let section = `${idx}. [${start} → ${end}] ${body}`;\n    \n    // Notion text block limit ~2000 chars\n    const limit = 1900;\n    if (section.length <= limit) {\n      blocks.push({\n        type: 'paragraph',\n        paragraph: { \n          rich_text: [{ \n            type: 'text', \n            text: { content: section } \n          }] \n        }\n      });\n    } else {\n      // Split long sections\n      for (let i = 0; i < section.length; i += limit) {\n        blocks.push({\n          type: 'paragraph',\n          paragraph: { \n            rich_text: [{ \n              type: 'text', \n              text: { content: section.slice(i, i + limit) } \n            }] \n          }\n        });\n      }\n    }\n  }\n}\n\n// If no VTT format found, try to process as plain text\nif (!hasContent && vtt.length > 0) {\n  const lines = vtt.split(/\\n\\n+/);\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (trimmed) {\n      const limit = 1900;\n      if (trimmed.length <= limit) {\n        blocks.push({\n          type: 'paragraph',\n          paragraph: { \n            rich_text: [{ \n              type: 'text', \n              text: { content: trimmed } \n            }] \n          }\n        });\n      } else {\n        for (let i = 0; i < trimmed.length; i += limit) {\n          blocks.push({\n            type: 'paragraph',\n            paragraph: { \n              rich_text: [{ \n                type: 'text', \n                text: { content: trimmed.slice(i, i + limit) } \n              }] \n            }\n          });\n        }\n      }\n    }\n  }\n}\n\nreturn [{ json: { toggleBlockId, blocks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        736
      ],
      "id": "ab0fe015-2bd5-4f37-89e9-7327aebcdbed",
      "name": "Split Transcript into Blocks",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Divide transcript into chunks for Notion blocks"
    },
    {
      "parameters": {
        "jsCode": "const { toggleBlockId, blocks } = $input.first().json;\n\n// Convert each Notion block object into a plain string for the UI builder\nfunction blockToText(b) {\n  if (b?.paragraph?.rich_text?.length) {\n    return b.paragraph.rich_text\n      .map(rt => (rt.text?.content ?? ''))\n      .join('');\n  }\n  return '';\n}\n\n// Return each block as a separate item with the toggleBlockId\nreturn blocks.map(b => ({\n  json: {\n    toggleBlockId,\n    content: blockToText(b),\n    blockType: b.type || 'paragraph'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        736
      ],
      "id": "5b6c9c96-73d2-4b16-9c15-62c4978f4238",
      "name": "Convert Blocks to Items",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Convert the chunks into individual items for appending"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.toggleBlockId, input2.content, input2.blockType\nFROM input2\nCROSS JOIN input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        624
      ],
      "id": "9a9ef0cf-9fee-4c87-8a88-1cfb2299196d",
      "name": "Merge Toggle ID with Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.toggleBlockId }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2272,
        624
      ],
      "id": "0f43e29f-0226-4c7a-903f-63830cb36ccc",
      "name": "Append Block to Toggle",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "1irJTXhoFNvETAJ1",
          "name": "Notion account 2"
        }
      },
      "notes": "Appends each text block to the toggle"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst pageData = $('Extract Page Data').first().json;\nconst blockCount = items.length;\n\nconsole.log(`✅ Successfully added transcript to Notion`);\nconsole.log(`   Meeting: ${pageData.meetingSubject}`);\nconsole.log(`   Date: ${pageData.meetingDate}`);\nconsole.log(`   Blocks added: ${blockCount}`);\n\nreturn [{\n  json: {\n    status: 'success',\n    pageId: pageData.pageId,\n    meetingSubject: pageData.meetingSubject,\n    blocksAdded: blockCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        624
      ],
      "id": "7ee21bb6-deb4-406b-8857-d5df9b76add6",
      "name": "Log Success",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Zoom Transcript to Notion Workflow\n\n### Workflow Steps:\n1. **Get Meeting Pages**: Fetches pages from DB.Client Meeting Diary with filters:\n   - Meeting date ≥ 2025-01-01\n   - Status NOT in (Upcoming, No Show, Cancelled)\n   - Zoom.TranscriptURL is not empty\n\n2. **Sort & Limit**: Processes most recent meetings first (5 at a time)\n\n3. **Loop**: Processes one page at a time\n\n4. **Extract Data**: Gets page ID, meeting subject, transcript URL, and passcode\n\n5. **Fetch Transcript**: Downloads transcript from Zoom URL\n\n6. **Create Toggle**: Creates H2 toggle heading \"Transcript - [Meeting Subject]\"\n\n7. **Split Content**: Divides transcript into multiple blocks (max 1900 chars each)\n\n8. **Convert & Merge**: Prepares blocks for individual appending\n\n9. **Append Blocks**: Adds each text block to the toggle (handles large transcripts)\n\n### Notes:\n- Password-protected transcripts may need manual handling\n- Each text block is limited to 1900 characters\n- Processes VTT format (standard Zoom transcript format)\n- Blocks are appended one by one to handle large transcripts",
        "height": 480,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "df5db532-3185-4f5a-82f9-0cbdf9aed5b7",
      "name": "Workflow Documentation"
    },
    {
      "parameters": {
        "content": "**# Multiple Text Blocks for Large Transcripts**\n\nThe workflow now properly handles large transcripts by:\n1. Creating a toggle heading first\n2. Splitting transcript into chunks (max 1900 chars)\n3. Converting each chunk to a separate item\n4. Appending blocks one by one to the toggle\n\nThis ensures the complete transcript is added even if it's very long.",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        480
      ],
      "typeVersion": 1,
      "id": "a7c78397-71cd-452f-b634-7914afd69d75",
      "name": "Multi-Block Note"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-hyly-ai-backup",
  "repo_owner": "munishgandhi",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-13T14:01:23.000Z",
  "versionId": "1ba6743e-d4c9-42e4-95dd-4f52e608bf30"
}