backup/2025/07/RodOlz9vpP9VUSiP.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T23:07:47.349Z",
  "id": "RodOlz9vpP9VUSiP",
  "isArchived": false,
  "meta": null,
  "name": "Test.Ollama v20250718-190747",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5f69dcc0-2f90-4c52-8abc-31c96181b565",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "509fb5c9-e536-4a85-93c4-4a10b2314087",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"{{ $json.models[0].model }}\",\n    \"prompt\": \"Hello! Please respond with 'Hello World from n8n + Ollama!'\",\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.1\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "a962dd3a-b5a6-4a7e-a69f-abccb1df2ba8",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-env",
  "repo_owner": "munishgandhi",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-23T15:08:51.438Z",
      "updatedAt": "2025-08-23T15:08:51.438Z",
      "id": "Sp7RcDlahroO3FeB",
      "name": "test"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-23T15:10:07.000Z",
  "versionId": "c84ff67f-486d-4d74-a224-510f67e4da74"
}